[2013-10-17 17:23] schakrava opened #1 "Create initial documentation structure"

[2013-10-17 17:39] #1 closed, assigned to schakrava

[2013-10-29 22:52] schakrava opened #3 "user interfaces"

[2013-10-29 22:57] schakrava opened #4 "dashboard documentation"

[2013-10-29 22:58] schakrava opened #5 "Analytics documentation"

[2013-10-29 22:58] schakrava opened #6 "storage operations"

[2013-10-29 22:59] schakrava opened #7 "services"

[2013-10-29 22:59] schakrava opened #8 "user configuration"

[2013-10-29 23:00] schakrava opened #9 "network configuration"

[2013-10-29 23:00] schakrava opened #10 "Share replication"

[2013-10-29 23:01] schakrava opened #11 "schedule tasks"

[2013-10-31 23:10] schakrava opened #14 "CLI documentation"

[2013-11-19 00:10] #10 closed, assigned to schakrava

[2013-11-19 00:11] #7 closed, assigned to sujeetsr

[2013-11-19 00:11] #6 closed, assigned to schakrava

[2013-11-19 00:12] #3 closed, assigned to sujeetsr

[2013-11-19 00:13] schakrava opened #15 "Clones and snapshot rollback"

[2013-11-19 00:17] schakrava opened #16 "Connecting to shares via CIFS and NFS"
From
1. Linux (nfs and cifs)
2. windows (nfs and cifs)
3. mac (nfs and cifs)

[2013-11-20 01:06] #11 closed, assigned to sujeetsr

[2013-11-20 01:06] #15 closed, assigned to sujeetsr

[2013-11-20 01:11] #4 closed, assigned to sujeetsr

[2013-12-08 15:34] schakrava opened #19 "Add SOHO NAS howto"

[2013-12-15 18:01] nkhare opened #22 "Add some basic debugging steps if something goes wrong."
It would be also good tell users what information to send when contacting for support.

[2013-12-28 01:31] #19 closed, assigned to schakrava

[2013-12-28 01:31] schakrava opened #24 "cleanup"

[2014-01-01 18:18] priyaganti opened #26 "Create Search bar for Documentation"
Search bar missing in the updated Documentation.

[2014-01-03 22:21] #26 closed, assigned to nobody

[2014-01-25 00:38] sujeetsr opened #28 "Update samba documentation"
Creating Samba share documentation should be updated to reflect the fact that Samba exports are now created from the sidenav Samba menu item, instead of on the share details page.

[2014-02-09 20:56] schakrava opened #30 "replication documentation"

[2014-02-10 21:02] sujeetsr opened #32 "Documentation for RockStor Raid levels"
Update documentation with
List of raid levels that can be used while creating a pool
description of each
min no of drives

[2014-02-22 00:54] priyaganti opened #33 "Update clients.rst (accessing shares from clients)"
1. Access shares via samba/CIFS on Windows
2. Accessing NFS shares

[2014-03-20 14:36] sujeetsr opened #34 "Documentation for API"
Create documentation for api, to help a user using the api client to automate storage operations.

[2014-05-29 00:16] schakrava opened #35 "update faqs"

[2014-09-27 00:20] schakrava opened #37 "Add documentation describing DR situations"
A useful comment from HN

My very first questions regarding a potential storage solution revolve around data loss:

[code]

Here is all I could find: http://rockstor.com/docs/faq.html#how-do-i-prevent-data-loss...

Of course, there is a wealth of information on such questions for standard RAID, but I would suggest for marketing purposes that rockstor synthesize available information (from the many

[2015-03-17 02:50] cron410 opened #38 "Rockstor updated itself to an "unsupported" kernel"
I have not run anything in the CLI of my test VM, only ran the WebUI update command. I received this error in the WebUI after my second reboot.

    You are running an unsupported kernel(3.10.0-123.20.1.el7.x86_64). Some features may not work properly. Please reboot and the system will automatically boot using the supported kernel(3.18.1-1.el7.elrepo.x86_64)

[2015-03-17 03:16] cron410 opened #39 "Gunicorn HTTP server hogging CPU"
Version 3.6-9. I am running a VM in ESXi with 1 vCore of CPU and 2gb of ram. This is obviously for testing purposes. Gunicorn seems to be hogging the most CPU out of all processes. It never dips below 20% usage and is continually over 40% usage. I got these numbers with TOP on the CLI. This is the only command I have run on the CLI so far.

Here is my dashboard in case the graphs and statistics ar

[2015-03-17 03:17] cron410 commented on #39
![image](https://cloud.githubusercontent.com/assets/3082899/6680817/ac0a486c-cc32-11e4-9a36-72630a1be759.png)

[2015-03-18 01:45] cron410 commented on #39
Did a fresh install with the 3.5 iso. CPU usage is still high, but TOP seems to be missing some info now.
![image](https://cloud.githubusercontent.com/assets/3082899/6701128/cb49330c-ccee-11e4-82fe-43591fe6d0b0.png)
![image](https://cloud.githubusercontent.com/assets/3082899/6701140/fc710f4a-ccee-11e4-95f2-35c437b9b49a.png)

[2015-05-24 10:53] phillxnet commented on #38
I had this, it seems that the second reboot after that particular update (to 3.18 I believe it was) caused a regression to the CentOS standard kernel of 3.10.  Mine reverted back to the intended / updated kernel after a subsequent reboot.  Also note that this issue is in rockstor-doc but would be more appropriate in rockstor-core (a mistake akin to what I just made myself).  I hope that your syste

[2015-05-24 10:58] phillxnet opened #40 "contribute doc affects users global git config unnecessarily"
Contribute doc suggests using --global which will re-write users existing global git config when the scope of the instructions concerns only the particular repo.
Also the addition of a cd command should help for a smoother on ram.
I am preparing a pull request on this issue.

[2015-05-24 14:39] phillxnet commented on #40
Found a few typo and grammatical alterations that I am including.
Note that another open pull request:- "Issue#30 replication doc" also contains a non conflicting correction to contribute.rst

[2015-05-25 09:45] phillxnet commented on #40
The associated pull request is now ready for comment / merge.

[2015-05-25 13:30] phillxnet opened #43 "Broken YouTube link in install.rst"
The last link under "Quick evaluation" heading in the install.rst doc is broken.
The link is intended to show how to evaluate Rockstor using Virtualbox.
There exists a video on rockstorinc that covers this so I am preparing a pull request to correct the link.

[2015-05-25 14:27] phillxnet commented on #43
pull request done

[2015-05-25 14:46] phillxnet commented on #40
Closing as now merged

[2015-05-25 14:46] #40 closed

[2015-05-25 17:57] phillxnet commented on #43
Closing as now merged.

[2015-05-25 17:57] #43 closed

[2015-05-29 14:59] phillxnet opened #45 "add kvm howto"
A KVM howto as an alternative / compliment to the VirtualBox instructions might be nice.
Working on pull request to supply this.

[2015-06-03 08:58] phillxnet commented on #45
Closing as now merged, could do with more work on the network config options of kvm/vmm and guest - host - lan interoperability but that can go in another more specific issue.

[2015-06-03 08:58] #45 closed

[2015-06-22 17:18] phillxnet commented on #38
@schakrava I suspect this can now be closed as I haven't heard of or had this happen with any of the subsequent kernels / upgrades.
@cron410 Thanks for reporting, seems it's just been you and me on this one.  Hope you are happy with it being closed for now.

[2015-06-22 17:23] schakrava commented on #38
Thanks @phillxnet

[2015-06-23 12:59] phillxnet commented on #14
@schakrava given the CLI interface is currently deprecated / broken should I remove reference to it from the docs; we can always pick them back out from the git history when / if it gets the attention it needs?

[2015-06-23 13:03] phillxnet opened #47 "plex-howto rock-on guide"
Given Plex is a very popular server software at least in the home NAS field a quick guide on installing via a Rock-on might be nice.  Especially given the Rock-on system is now coming along.

I am working on a pull request to this end.

[2015-06-23 17:19] schakrava commented on #14
@phillxnet That would be very helpful and appreciated by at least a few users as you may have seen in the forums. Thank you!

[2015-06-23 17:23] schakrava commented on #47
@gkadillak is planning to brush up the Rock-ons UI a little bit. The formatting, tooltips and flow is a bit error prone right now. We are planning to make it better in the current release cycle. I say we wait till that happens. Having said that, this document should get a lot of eye balls, just saying. no pressure :)

[2015-06-23 17:38] phillxnet commented on #47
@schakrava OK, I'll sketch it out for now and do the doc pull request and pics on the next Rock-ons UI update, it would be nice to have a sane  (may need some help there) and hopefully simple example of a Rockstor Plex setup out there.

[2015-06-24 16:32] phillxnet commented on #14
@schakrava I am working on this pull request now and will be done shortly.

[2015-06-24 16:56] phillxnet opened #49 "Search Box Broken"
The Search box top right on current web rendered docs is broken in that it always returns no entries.

[2015-06-24 17:29] phillxnet commented on #14
@schakrava OK pull request ready.

[2015-06-25 07:39] phillxnet commented on #14
@schakrava since this is merged now I propose closure?

[2015-06-25 15:19] #14 closed

[2015-06-28 18:33] phillxnet commented on #38
OK just had this happen again:-
Install was original from iso and had 3.8-0.2 (a strange one I know)
I then updated via WebUI to 3.8-1 and upon first reboot there after I was back at 3.10 kernel.
Howerver there was a warning to that effect and a subsequent reboot got me back to 4.0.2 without any intervention.  This was on real hardware.

[2015-06-28 18:52] schakrava commented on #38
I've seen this behavior and the reason is this. When ever CentOS upstream releases a new kernel, it makes itself the default while installing. I haven't gotten a chance to test this out yet, but I think the solution is to put a "exclude=kernel*" in the updates section of /etc/yum.repos.d/CentOS-Base.repo

[updates]
name=CentOS-7 - Updates
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=$ba

[2015-06-28 19:01] phillxnet commented on #38
That sounds like a plausible candidate, especially since it's been so intermittent; I also saw more 3.10 kernels than I thought were there before as well. I'll look some more and give it a go and report back here.  Just a little worried as that revert is getting progressively more risky as we move on.

[2015-06-28 19:08] cron410 commented on #38
Is this related to the closed issues #557?

Regards,

*Charles Gunzelman*

(410) 713-9233

cron410@gmail.com

On Sun, Jun 28, 2015 at 3:01 PM, Philip Guyton <notifications@github.com>
wrote:

[2015-06-29 11:52] phillxnet commented on #38
@cron410 it does look that way, grubby seems not to be the whole solution.  But if as @schakrava suggests the kernel is excluded from standard updates then we may be there on this one.  Maybe https://github.com/rockstor/rockstor-core/issues/557 should be re-opened and this issue referenced as then we can deal with it in the core repository where it belongs.  Thanks for the connection @cron410 I mi

[2015-06-29 13:26] phillxnet commented on #38
Test of proposed:-
exclude=kernel*
in [updates] repo config
A system where this inadvertent 3.10 kernel downgrade did happen now has the following additional kernel "Rockstor (3.10.0-229.7.2.e17.x86_64) 3 (Core)" along "with debugging" counterpart entry in grub.
On a system that does not have this additional 3.10 kernel a "yum update" shows it as ready to install. However if I then add the @schakr

[2015-06-29 13:43] phillxnet commented on #38
Conversely executing a "yum update" on a system without this exclude command results in the subsequent boot auto selecting the 3.10.0-229.7.2.el7.x86_64 along with the resulting WebUI warning. The subsequent reboot results in the proper 4.0.2 being re-instated as the default.
@schakrava I say we squeeze this exclude into the next release as a kernel revert is not good, would this be a candidate fo

[2015-06-30 17:15] phillxnet opened #51 "tweak contribute doc"
minor tweaks to the recently upgraded Contribute to Rockstor doc

[2015-07-01 14:12] phillxnet opened #53 "add rock-ons intro"
Prior to writing each separate Rock-on howto we first need to introduce Rock-on to the docs and explain what they are and how they are implemented.  Write what is common to them all so that each can then index back to this initial set-up / explanation.

[2015-07-01 14:26] phillxnet commented on #53
I am working on a pull request for this issue.

[2015-07-03 10:59] phillxnet opened #55 "multi period snapshots"
Document self thinning daily, weekly, monthly, yearly snapshots.
ie creating tasks as follows:-
daily (max count 7) snapshots
weekly (max count 5) snapshots
monthly (max count 12) snapshots
yearly (max count 2) snapshots.

[2015-07-03 13:22] phillxnet commented on #53
Pull request ready for review / comment.

[2015-07-03 13:22] phillxnet commented on #55
I am working on this now.

[2015-07-03 13:24] phillxnet commented on #51
Pull request ready for review

[2015-07-03 19:42] phillxnet commented on #51
Closing as now merged.

[2015-07-03 19:42] #51 closed

[2015-07-03 20:15] phillxnet commented on #55
Pull request ready for review.

[2015-07-07 09:38] phillxnet commented on #38
Just to keep track of this, although a fix is due in the next iso I believe.
This will happen on new builds via:-
clean 3.8-0.3 iso install:
hostname, admin, pass, update now dialog, and up to 3.8-2
gives unsupported kernel error as 3.8-2 now expects the 4.1 (and iso was in 4.0.2)
I think this message should also add - "Please reboot to use the recommended kernel."
Except on shutdown via the WebUI

[2015-07-07 19:57] schakrava commented on #38
@phillxnet Thanks for driving this issue. Turns out no code changes to rockstor-core are required to solve this problem. It's just an update to rockstor-release package which I tested and pushed a few minutes ago. Now, unless users run a manual yum update and then update Rockstor via WebUI, they will still need to reboot first time around. But after that they will have exclude=kernel* change and s

[2015-07-07 19:57] #38 closed

[2015-07-08 10:26] phillxnet commented on #53
Closing as pull request merged.

[2015-07-08 10:26] #53 closed

[2015-07-08 10:32] phillxnet commented on #47
fixed by merged pull request #53 . At least from installing the rock-on itself.

[2015-07-08 10:32] #47 closed

[2015-07-08 12:22] phillxnet opened #58 "btsync plus rock-on tweaks"
Add the missing btsync rock-on guide and update forum links to recently created specialized sections

[2015-07-08 12:23] phillxnet commented on #58
I am working on on a pull request for this now

[2015-07-08 19:33] phillxnet commented on #58
Pull request #59 ready containing the missing BTSync Rock-on doc plus some Rock-on doc tweaks.

Ready for proof read and possible pull.

[2015-07-08 19:38] phillxnet commented on #55
linking to it's pull request #57 .

[2015-07-09 07:46] phillxnet commented on #58
Closing as pull request merged.

[2015-07-09 07:46] #58 closed

[2015-07-09 07:52] phillxnet commented on #39
@cron410 could you try the recently released 3.8-2 as in the interim there have been many improvement.  Thanks for all the detail and pics.

[2015-07-11 07:40] phillxnet commented on #55
Closing as pull request merged.

[2015-07-11 07:40] #55 closed

[2015-07-19 16:46] schakrava commented on #35
fixed by #36

[2015-07-19 16:46] #35 closed

[2015-07-19 16:49] schakrava commented on #9
update the forum on closing: http://forum.rockstor.com/t/network-config-changing-to-static-ip/228/2

[2015-07-19 18:18] phillxnet commented on #9
I am working on this now.

[2015-07-19 20:05] phillxnet commented on #9
The pull request to address this issue is now ready for review.

[2015-07-19 21:06] #9 closed

[2015-07-21 18:26] phillxnet opened #61 "add reinstall howto"
A small howto detailing the re-installation process, ie extra steps needed during installer.
Also a note about importing data from previous Rockstor data disks.
Once in could also be a place to detail the future feature of config save and restore.

[2015-07-21 18:28] phillxnet commented on #61
I am working on a pull request for this now.

[2015-07-21 21:26] phillxnet commented on #61
Pull request #62 ready for review.

[2015-07-22 13:31] phillxnet commented on #61
Tried to re-do pull request to get easier merge button so now #63 is the pull request ready for review.

[2015-07-22 22:25] schakrava commented on #61
Fixed by #63

[2015-07-22 22:25] #61 closed

[2015-07-22 22:27] schakrava opened #64 "sphinx and subdirectories"
for some documents like rocksons and reinstall, we are using subdirectories which is breaking the links to  the logo. We need to figure out the right sphinx config changes so it populates the static files correctly.

[2015-07-23 10:58] phillxnet commented on #64
OK, thanks for point this out. I will have a look into it.  It was part of the reason I shied away from restructuring, being completely new to sphinx and rst and not sure of the knock-ons.  If anyone knows how to fix this then please chip in.

Indicator is lost Rockstor icon in top left corner of web page rendering of this Documentation at:-
http://rockstor.com/docs/docker-based-rock-ons/overview.

[2015-07-23 12:42] phillxnet opened #65 "community link broken"
@schakrava  On the top bar of the docs as rendered on the web the community link is broken, it seems to link to a "#". With the locally generated output from sphinx it generates a drop down menu with the expected and working links to forums and the issue tracker.

Could this be related to the bootstrap.css to bootstrap.min.css patch:-
https://github.com/rockstor/rockstor-doc/commit/85c15f5959da452

[2015-07-23 12:45] phillxnet commented on #65
OK submitted this anyway as it wasn't working but seems to be working now so was interested in why, Closing as now works for me; but it didn't (maybe just a  browser cache updating thing).  Closing as works for me now in both Firefox and Chrome.

[2015-07-23 12:45] #65 closed

[2015-07-24 18:47] phillxnet commented on #64
On first investigation I suspect this is hardwired into our theme but not certain; in themes/layout.html
[code]
and I found "Fix logo relative path" in a pull request on another themes:-
https://github.com/ryan-roemer/sphinx-bootstrap-theme/pull/80
https://github.com/ryan-roemer/sphinx-bootstrap-theme/commit/2bfddcbef280c615989a657377d7e0f42a12badb
and from that commit in that pull request we have

[2015-08-01 12:07] phillxnet opened #66 "update tasks for 3.8-4 changes"
Major user improvements in 3.8-4 to task scheduling so would be nice to have docs reflect this.

[2015-08-01 12:08] phillxnet commented on #66
I am preparing a pull request on now.

[2015-08-01 17:34] phillxnet commented on #66
Pull request #67 addresses this issue and is ready for review.

[2015-08-01 17:53] phillxnet opened #68 "document config backups"
As a new neat and key feature I'd like to see this referenced in the documentation; I will try and prepare a pull request for this tomorrow (UK).
I am planning to add this at least as a section in the existing "Reinstalling Rockstor" howto.

[2015-08-01 18:02] schakrava commented on #68
Thanks @phillxnet That would be great! Note that the popups in the UI will be improved in the future, so as you document feel free to suggest improvements.

[2015-08-02 12:16] phillxnet commented on #68
I am currently working on a pull request for this issue.

[2015-08-02 14:24] phillxnet commented on #66
Closing as fixed by now merged #67

[2015-08-02 14:24] #66 closed

[2015-08-02 18:20] phillxnet commented on #68
- During restore I think popup "It may take a bit ..." should be "This may take a while ..."
- I think the choose file box should be a little longer as one can't see the whole default file name after an upload file pick; although it is displayed in full with the mouse over there after.
Those are the only things that jumped out at me.
Nice job @schakrava @gkadillak

[2015-08-02 18:33] phillxnet commented on #68
Pull request #69 ready for review.

[2015-08-03 16:25] phillxnet commented on #68
Closing as referenced pull request is now merged.

[2015-08-03 16:25] #68 closed

[2015-08-07 20:10] cron410 commented on #39
Still seeing issues with gunicorn and dc2 processes. Now running on a beefier server Dell R300 with a  quadcore Xeon 2.33GHz CPU and 12GB ram running ESXi 5.5 on a raid 5 array. The CPU graph in Rockstor web interface also seems to have the wrong scale.
![image](https://cloud.githubusercontent.com/assets/3082899/9144934/89a82be2-3d1e-11e5-8b24-f392b4c99ecc.png)
![image](https://cloud.githubusercon

[2015-08-07 20:12] cron410 commented on #39
I am running the latest 3.8-4 for your reference. Kernel: 4.1.0-1.el7.elrepo.x86_64

[2015-08-08 08:16] phillxnet commented on #39
@cron410 Thanks for the details and update. The cpu use does look to be uncommonly high. My first guess is that you have minimal actual cpu allocated to the Rockstor instance within the ESX, ie with only a low power single core cpu allocated then Rockstor would use a high percentage of it's cpu time.  I'm afraid I am almost completely unfamiliar with ESXi but presumably there is a facility to spec

[2015-08-10 16:33] cron410 commented on #39
processor       : 0
vendor_id       : GenuineIntel
cpu family      : 6
model           : 23
model name      : Intel(R) Xeon(R) CPU           L5410  @ 2.33GHz
stepping        : 10
microcode       : 0xa0b
cpu MHz         : 2333.333
cache size      : 6144 KB
physical id     : 0
siblings        : 1
core id         : 0
cpu cores       : 1
apicid          : 0
initial apicid  : 0
fpu             : yes
fp

[2015-08-11 20:48] cron410 commented on #39
Change the CPU config to 2 cores and left the server running overnight. The usage is much better, although I have not logged into the web interface. Ill do that now, and close it like I did before the weekend and see what happens overnight. Here is my current TOP.
![image](https://cloud.githubusercontent.com/assets/3082899/9210171/b78685ae-4048-11e5-8c51-4b1879e3f3f6.png)

[2015-08-11 20:53] cron410 commented on #39
After logging into the web interface, here are my stats as reported by Rockstor.
![image](https://cloud.githubusercontent.com/assets/3082899/9210253/2cececfc-4049-11e5-9b74-5ce3c40cc505.png)

and here is what TOP is reporting.
![image](https://cloud.githubusercontent.com/assets/3082899/9210294/6b4761a8-4049-11e5-8733-2492d6c8c0c6.png)

I'll let it sit overnight and report back.

[2015-08-11 23:05] schakrava commented on #39
Thanks for providing details @cron410 , really appreciate the help to improve Rockstor. Note that dc2 and data-collector are being consolidated as we speak and we are making things light weight. Most fixes if not all should go into 3.8-5, FYI.

[2015-08-12 10:52] cron410 commented on #39
Awesome. I have auto update enabled.
Sent from mobile.
On Aug 11, 2015 7:05 PM, "Suman Chakravartula" <notifications@github.com>
wrote:

[2015-08-16 11:18] phillxnet opened #70 "email config and test"
Add to feature list.
Add walk through and test procedure
I am now working on a pull request for this.

[2015-08-16 22:46] #70 closed

[2015-08-17 10:59] phillxnet commented on #64
New subdirectory structure (ie rockons and reinstall sections) also break favicon and community dropdown.
Fix found and submitting pull request shortly.

[2015-08-17 11:13] phillxnet commented on #64
Pull request #72 ready for review.
Should also fix recently found community menu broken in sub directory sections.

[2015-08-17 13:22] phillxnet commented on #49
I suspect this is due to the wrong jquery.js being used by doctools.js
It seems _static/jquery is 1.7.2 when build locally and 1.11.1 on web !
[code]
in chrome developer tools on every page.
Nearest hint I can find so far is:-
https://github.com/spinus/sphinxcontrib-images/issues/13
"
This is related to the fact that Lightbox2 is using its own version of jQuery. I'm not sure if this is really need

[2015-08-17 17:22] #64 closed

[2015-08-17 19:10] schakrava commented on #49
Thank you sir! That ended up being just the right hint I needed to fix the search box. Back when we created a custom theme, we used the older jquery which is not only not necessary, but inadvertently broke the search box.

Anyway, I think it's fixed now. I've also changed the css a bit. @phillxnet, I've uploaded the latest docs to the website. @priyaganti is the one that normally makes the design

[2015-08-17 20:59] phillxnet commented on #49
@schakrava That's great, well done. I'm chuffed that this one is done and dusted.

Closing as "now works for me" in Chrome and Firefox. It's quite a nice search facility as well. I've never actually seen it work. Great.

[2015-08-17 21:10] phillxnet commented on #49
@schakrava
Ok, never mind.  We still have a little problem:- fails when tested on the sub-directory stored sections:-

Rock-ons (Docker Plugins):-
"The requested URL /docs/docker-based-rock-ons/search.html was not found on this server."
Re-installing Rockstor:-
 "The requested URL /docs/reinstall/search.html was not found on this server."

And it's not a pretty one either ie 404
However it does wo

[2015-08-18 10:38] phillxnet commented on #49
Pull request #73 ready for review to hopefully fix this last sub part of this issue.

[2015-08-19 00:48] #49 closed

[2015-08-28 11:49] phillxnet opened #75 "Improve DandP section"
In response to a forum suggestion by @marks I think we should update the Disks and Pools section, specifically add that we can now import from whole disk btrfs disks. This has already been documented in the recent "Reinstalling Rockstor" Howto so an additional section within D and P referencing this may help with discovery of this feature. Also rather outdated pics in this key section.
Note we can

[2015-08-28 18:47] phillxnet commented on #75
@vinima may have screen grabs to go along with this text change but we may get away with merging and publishing separately as I mostly just changed text and added one image by another name. Thanks @vinima for accommodating my impromptu changes.
If merged without @vinima's images there will be only minor discrepancies between text and image but obviously will be better with them. We can always circ

[2015-08-28 22:56] #75 closed

[2015-09-01 16:40] phillxnet opened #78 "add responsible disclosure doc"
We need a clearly reference means for those wishing to responsibly disclose security issues concerning Rockstor related components over and above those of upstream, although if any upstream related issues were submitted they could be unstreamed to CentOS or whatever.

[2015-09-02 09:27] phillxnet opened #79 "add media check directions"
In the install section we should include or point to a howto on confirming the created media's integrity.
ie via "Test this media and install Rockstor" boot option.

[2015-09-02 09:31] phillxnet commented on #79
linking to related issue in rockstor-iso https://github.com/rockstor/rockstor-iso/issues/6

[2015-09-02 09:32] phillxnet commented on #79
If the md5sum is published as in last comment / referenced issue the howto could also include pre-media creation check instructions of the downloaded iso.

[2015-09-04 11:17] phillxnet opened #81 "add unetbootin note"
On the Quick Start page we could advise against using unetbootin as a Rockstor forum member found that the resulting usb install key was unable to boot successfully.
Thanks to @herbert for finding and reporting this issue on the forum.
Linking to the forum thread so that it might be updated on resolution of this issue:-  http://forum.rockstor.com/t/solved-installation-fails-on-hp-microserver-n40l/

[2015-09-04 11:30] phillxnet commented on #81
While there it would be good to also include directions on using ddrescue.
ie
[code]

[2015-09-05 15:05] schakrava opened #82 "update Shares Snapshots and Clones docs"

[2015-09-07 22:18] schakrava opened #84 "update concepts doc"

[2015-09-07 22:22] schakrava opened #85 "update features doc"

[2015-09-08 18:25] schakrava opened #86 "Data migration howto"
Add a how to document describing the process of migrating large amount of data to Rockstor.

http://forum.rockstor.com/t/raid-is-not-created/428/7

[2015-09-17 07:52] phillxnet opened #89 "small pwreset section"
I think it would be nice to have a dedicated section to take people through the pwreset procedure, ie that one uses the root login credentials setup during install and a terminal via ssh root@<ip> or via putty on windows. This could have pics etc so it's all friendly and re-assuring and have a hight link status so users see it early on in docs. Also link to this section from the install section so

[2015-09-17 08:06] phillxnet commented on #89
Linking to relevant forum post so that it might be updated accordingly:- http://forum.rockstor.com/t/reset-password-to-access-server/457

[2015-09-17 08:15] phillxnet commented on #89
We should make sure this entry responds to obvious searches in the search box in online docs ie password, pwreset /opt/rockstor/bin/pwreset, "lost password", "password reset", "admin reset" "forgotten password", "locked out", "password problem" etc. Given these may relate to other sections we already have on user password reset we can link back to them ie the general user password resets from this

[2015-09-18 19:12] phillxnet commented on #89
Almost all done now by @schakrava https://github.com/rockstor/rockstor-doc/commit/640f2fca3e2a41ba710264a208af141364352928
re root password reset instructions. Just need to add some links to this new howto and check on search keywords.

[2015-09-28 16:12] phillxnet opened #90 "nut-ups setup doc"
It would be nice to have a document detailing the process of setting up a nut configuration, along with why ups's are a good idea.
I am now working on a pull request for this.

[2015-10-04 10:04] phillxnet commented on #90
closing as now fixed by merged pr #92

[2015-10-04 10:04] #90 closed

[2015-10-04 13:06] phillxnet opened #93 "update email for UUID inclusion"
Since email now has a "send a test email" feature I wanted the docs to reflect this.
Also it has greater significance for recording an appliances's Id /  UUID for update channel registration.

I am working on a pull request for this now.

[2015-10-04 20:57] schakrava opened #95 "shadow copy howto"

[2015-10-04 22:44] #95 closed

[2015-10-05 11:49] phillxnet commented on #93
closing as fixed by merge of pr #94

[2015-10-05 11:49] #93 closed

[2015-10-05 11:59] phillxnet opened #97 "explain update channels"
Prepare a doc entry to explain the differences and reasons for the two update channels.
Explain also that the idea was floated on the community forum and as a result the following etc.
pics so people know what is to happen / what to expect etc.

I am working on this doc now and will try and keep it short and sweat, my expectation is that it will be a ready for comment / change and so just trying t

[2015-10-05 17:04] cron410 commented on #39
This has been completely resolved in 3.8-8

[2015-10-05 17:04] #39 closed

[2015-10-06 00:20] #97 closed

[2015-10-20 16:01] phillxnet opened #99 "clarify that dev build will destroy existing install"
As @maxhq on the forum points out the documentation should make clear that the existing database and rpm install will be removed along with the /opt/rockstor directory when building a dev install.
Please update the following forum thread with progress on this issue:- http://forum.rockstor.com/t/build-process-silently-removes-rockstor-installation/579

[2015-10-31 16:26] phillxnet commented on #81
Thanks to @aaron on the forum for also reporting "Rufus" as not working; this info should also be added to the docs.

[2015-10-31 16:27] phillxnet commented on #81
Please also update the following forum thread on this issues progress:-
http://forum.rockstor.com/t/problem-installing-on-supermicro-servers/403

[2015-10-31 16:53] phillxnet commented on #81
I am currently working on a pull request for this issue.

[2015-10-31 20:00] phillxnet opened #100 "Add AFP section"
Need a section akin to NFS / Samba

Note remember to link to this section from Shares in shares-btrfs-subvolumes.rst

[2015-10-31 20:02] phillxnet opened #101 "add sftp section"
need a section akin to NFS and Samba for sftp

Remember to link to this section from Shares in shares-btrfs-subvolumes.rst

[2015-11-02 17:07] #81 closed

[2015-11-02 19:47] vinima opened #103 "Update documentation for NFS and Samba"
Old documentation for NFS and Samba needs to be updated.

[2015-11-07 17:03] phillxnet commented on #100
I am currently working on this issue.

[2015-11-09 22:33] #100 closed

[2015-11-15 12:45] phillxnet opened #106 "Add Rufus howto"
@Dragon2611 on forum thread:- http://forum.rockstor.com/t/problem-installing-on-supermicro-servers/403/9 tested Rufus USB writter as working with specific settings, using @Dragon2611's provided images and method create a howto and expand the previous statement that Rufus produces non working Rockstor usb install disks which is only true in it default configuration.

[2015-11-15 12:54] phillxnet commented on #106
I am currently working on a patch set for this issue.

[2015-11-15 16:56] phillxnet opened #108 "Add linux gui usb creation howto"
Since gnome-disks has this ability built in and is installed by default on Ubuntu and distributions using gnome it would be nice to document this method of creating a USB install disk as a more user friendly way than dd or ddrescue.

[2015-11-15 19:33] #106 closed

[2015-11-15 20:21] #108 closed

[2015-12-12 01:38] schakrava opened #110 "Add how-to for Samba access from different clients"
Window, Linux and Mac.

[2016-01-19 12:12] phillxnet opened #114 "add discourse to rock-ons section"
Extend the Available Rock-ons section to include a Discourse installation guide.

[2016-01-19 15:09] phillxnet opened #115 "Fix formatting of md howto re howtos list"
It seems there is something in "Mirroring Rockstor OS using Linux Raid" that is upsetting the Howtos listing as subsections are appearing as additional howto's.

[2016-01-19 15:10] phillxnet commented on #114
I am currently working on these additions.

[2016-01-19 20:54] phillxnet commented on #115
This should be addressed by pull request #116 .

[2016-01-19 20:56] phillxnet opened #117 "add jenkinsci to rock-ons section"
This was initially planned to be included with #114 but to speed up the completion of #116 and it's associated #115 I have split this to be completed at a later time.

[2016-01-20 15:48] phillxnet commented on #117
@schakrava This issue should be fixed by pr #116 as it has been re-expanded to incorporate jenkins.

[2016-01-21 02:42] #114 closed

[2016-01-21 02:42] #115 closed

[2016-01-21 20:14] phillxnet opened #118 "best practice before install doc"
Might be a nice thing to have so we can point at it for initial - pre install issues such as iso corruption or flaky USB or disks with weird partition tables and the like.
Could go in as a howto maybe.

[2016-01-21 20:23] phillxnet commented on #117
Closing as Fixed by #116

[2016-01-21 20:23] #117 closed

[2016-01-22 16:00] phillxnet opened #119 "license rockstor docs as cc-by-sa"
Licence the rockstor-docs under a Creative Commons ( https://creativecommons.org/ ) to clarify their possible use, ie in training etc.
CC-BY-SA 4.0 was arrived at by the docs major contributors and allows for their use in training scenarios whilst maintaining a Free Culture Licence status.
This licence ensures that attribution (BY as in authors) remains intact and preserves the sharing nature unde

[2016-01-22 18:42] phillxnet commented on #119
@schakrava We have a choice between normal and compact for cc-by-sa icon:-
normal file name = "88x31.png"
compact file name = "80x15.png"
I prefer the normal as the compact is a little under underwhelm and we have plenty of space in the footer anyway.

[2016-01-23 12:36] phillxnet opened #121 "mention eject button in disk image writer"
In the file gnome_disks_usb.rst we could mention the eject button in the disk image writer program.
This could  go in the last sentence which is in bold.

[2016-01-24 02:16] #119 closed

[2016-01-24 14:59] phillxnet commented on #118
this might also address issue "add media check directions" #79

[2016-01-24 15:26] phillxnet commented on #78
eg along the lines of:-
https://responsibledisclosure.nl/en/
which is CC-BY 3.0 so not sure how that fits with our CC-BY-SA 4.0 but should be find, especially if published separately but that would involve more overhead.

see also:-
https://www.cupfighter.net/2013/08/responsible-disclosure
and theirs:-
https://www.schubergphilis.com/2012/12/11/responsible-disclosure/
the last two are derived / ref

[2016-01-24 15:33] phillxnet commented on #32
@schakrava I believe this one has now been addressed by yourself in the following commit:-
https://github.com/rockstor/rockstor-doc/commit/65d89015aa744730874ae6f96838913d9f8b2a22

[2016-01-24 15:46] phillxnet commented on #30
This needs to be update to reflect the new implimentation in 3.8-10 ie showing up after 5 replications etc:-
Currently on old system with gifs http://rockstor.com/docs/share_replication.html

[2016-01-24 15:51] phillxnet commented on #28
@schakrava I believe this is now done by curtesy of yourself and @vinima via commit:-
https://github.com/rockstor/rockstor-doc/commit/054800e22c05490d695a9573144896f806924783

[2016-01-24 15:54] phillxnet opened #122 "update qgroups issue note on btrfs fix"
In the http://rockstor.com/docs/shares-btrfs-subvolumes.html (shares-btrfs-subvolumes.rst) we have a reference to the disabled qgroup issue ie in the section:-

**Share size enforcement temporarily disabled**

Make sure to update this upon btrfs qgroup fixes surfacing.

[2016-01-24 16:01] phillxnet commented on #33
@schakrava I suggest this be closed as a (mostly) duplicate of #16 "Connecting to shares via CIFS and NFS"

[2016-01-24 16:04] phillxnet commented on #8
This issue could now be used to indicate an update to the user config as it exists but is now rather old.

[2016-01-24 16:06] phillxnet commented on #5
Document the currently available analytics as per:
"We hope to further detail existing NFS analytics in the near future."
in http://rockstor.com/docs/analytics.html (of analytics.rst)

[2016-01-24 16:40] phillxnet commented on #118
I am currently tending to this document's preparation.

[2016-01-24 21:32] schakrava commented on #33
Good point @phillxnet . Thanks!

[2016-01-24 21:32] #33 closed

[2016-01-24 21:34] schakrava commented on #28
thanks for the cleanup @phillxnet !

[2016-01-24 21:34] #28 closed

[2016-01-24 21:36] schakrava commented on #30
There are a few more refinements I plan to do in .12 cycle. It's best to do this right after.

[2016-01-24 21:36] schakrava commented on #32
Sounds good to me. Thanks @phillxnet !

[2016-01-24 21:36] #32 closed

[2016-01-25 14:50] phillxnet commented on #110
If these howtos are to be more graphical / extensive than what we currently have in samba_ops.rst then we can link to them from there, or have them replace that is currently in samba_ops.rst.

[2016-01-25 15:51] phillxnet commented on #101
I am currently preparing a doc to address this issue.

[2016-01-25 16:09] phillxnet commented on #122
Note that a number of screen grabs should also be updated to remove the:
"Share size enforcement is temporarily disabled due to incomplete support in BTRFS. Until this status changes, the effective size of a Share is equal to the size of the Pool it belongs to."
message.

[2016-01-25 19:53] phillxnet commented on #101
Leaving off this for the time being, will try to continue tomorrow (UK) by adding client connect entries.
Server side config mostly done.

[2016-01-25 19:54] phillxnet commented on #101
Also want to test / doc ssh key access to these shares rather than via password.

[2016-01-26 11:23] phillxnet opened #124 "update transmission rock-on doc"
Due to a partner issue in the rockstor-registry a usability change to the suggested share should be reflected in the docs.
In the process the images could be updated to reflect the new theme. Take care to have images and text match.

partner issue in rockstor-registry repo:-
https://github.com/rockstor/rockon-registry/issues/3

I am currently undertaking these changes and preparing a pull request.

[2016-01-26 12:54] phillxnet opened #126 "add info on rockstor_rockstor pool limitations"
Make sure the docs have some info on the limitations of using this pool, such as is presented in the WebUI.

[2016-01-27 04:13] #79 closed

[2016-01-27 04:13] #118 closed

[2016-01-27 16:12] phillxnet commented on #101
Should be back on this Friday (UK).

[2016-01-29 13:05] phillxnet opened #127 "Update pool related sections with redesign"
A recent re-design of pool creation may require doc updates.
See https://github.com/rockstor/rockstor-core/pull/1115
Due soon in testing channel.

[2016-01-29 16:04] phillxnet commented on #127
N.B. this re-design is merged as of 3.8-11.02 (testing channel) onwards.

[2016-01-29 17:22] phillxnet commented on #126
This info is presented to the user via the "i" icon in pools next to the rockstor_rockstor entry.
ie resize, compression, and deletion not allowed.

[2016-01-30 01:29] #124 closed

[2016-01-30 15:04] phillxnet commented on #101
I am again currently working on this issue.

[2016-01-30 19:32] phillxnet opened #128 "cleanup services page"
We need a few new screen shots and to move the larger sections out so we only have summaries here.
ie we have the AD, NTP, LDAP, and NIS sections of the whole docs here when it should really be just a summary of each and links to dedicated pages.

[2016-01-30 19:41] phillxnet commented on #22
Note that this could also include how to retrieve logs via scp or via sftp with reference to the sftp docs section but using the root user to retrieve the logs via a gui client.

[2016-01-30 19:48] phillxnet commented on #16
Some sections now have duplication re client access ie:-
The new SFTP doc has client access instructions as does the AFP section and the Samba/CIFS doc also has some non illustrated client instructions.
But we also have a dedicated doc on the same ie clients.rst which is currently fairly incomplete.
I suggest we rationalize this and have client sections in each protocol which seems to be how thing

[2016-01-31 13:05] phillxnet opened #130 "update network section"
We now have roles for interfaces so we need to add this.

io - general use ie all of the following 3 (default)
management - Web-UI only
Replication - replication only
unassigned - not to be used

Please update the following forum thread with progress on this doc:-
http://forum.rockstor.com/t/network-interface-role-info-and-quirks/997/1

N.B. there may be a need to update / improve mouse over info

[2016-02-01 00:26] #101 closed

[2016-02-01 00:26] #121 closed

[2016-02-01 12:25] phillxnet commented on #110
Linking to related "Connecting to shares via CIFS and NFS" #16 which has comments related to re-ordering the docs so we have client section within each protocol section which is mostly what we have now anyway, including in samba_ops.rst which currently has a non graphical client section. As in #16 I suggest here that we take the contents of now outdated clients.rst which has been partly superseded

[2016-02-01 12:27] phillxnet commented on #24
A general update of old (pre-redisign) screen grab images might fit in this one.

[2016-02-07 10:41] phillxnet opened #131 "mirroring rockstor os edits"
Just about to setup a test system using this howto for issue:- https://github.com/rockstor/rockstor-core/issues/1151 so am planning to prepare the edits as I go.

Currently working on this issue.

[2016-02-29 11:19] phillxnet commented on #128
Services page has just been reworked with new search and sort so this one is ripe now.

[2016-02-29 11:26] phillxnet commented on #130
Connecting with existing open issue in rockstor-core relating to network tooltips #1146

[2016-03-01 19:34] phillxnet commented on #131
Closing as fixed by pull request #132

[2016-03-01 19:34] #131 closed

[2016-03-09 11:06] phillxnet commented on #22
An example of more content that may be appropriate in this docs addition might be:
https://forum.rockstor.com/t/help-recovering-web-ui-from-crash-after-share-changes/1191/2?u=phillxnet

[2016-03-23 14:05] phillxnet opened #133 "minor rock-on info update"
Thanks to @IamDH4 for reporting a typo in our custom rock-on path in https://github.com/rockstor/rockon-registry/issues/12
Correct this typo and do a quick update on newly available rock-ons.

[2016-03-23 14:25] phillxnet commented on #133
@schakrava I am just doing a quick update here, should be done shortly.

[2016-03-23 17:35] #133 closed

[2016-04-03 11:11] phillxnet opened #135 "update plex rock-on guide and rock-ons list"
Update the docs to reflect a recent update to our Plex Rock-on to add both a plexpass personality and a transcoding share option. There are now also additional port options available.

Update 'available rock-ons' list while in the area.

[2016-04-03 11:49] phillxnet commented on #135
Please update the following forum thread when this issue is sorted and merged:
https://forum.rockstor.com/t/plexpass-and-problems/1310

[2016-04-06 22:14] vinima opened #137 "Update documentation for Rockstor features"
1. Remove non-existent features (NFS Analytics)
2. Add any feature that is not listed

[2016-04-08 22:42] priyaganti opened #138 "Add documentation for using Robocopy on Windows"
Based on the following forum thread:
https://forum.rockstor.com/t/can-rockstor-automate-file-backups-for-mac-linux-and-windows/1296

[2016-04-26 23:56] #135 closed

[2016-05-11 10:49] phillxnet opened #139 "add links on basic concepts page"
It would be good to have each section on the Basic Concepts page link in turn to the associated document section as currently the only link out from this page is within the Rock-ons section.
Main candidates are Disk, Pool, Share, and Snapshot sections. Each now has their own detailed sections available. WebUI could link to the User Interfaces page.

[2016-05-20 16:48] phillxnet opened #140 "improve mdraid content re re-deployed prior mdraid drives"
Thanks to @elmcrest in the following forum thread for influencing this issue creation:
https://forum.rockstor.com/t/solved-disks-failing-with-badge-disk-is-a-mdraid-member/1210/12?u=phillxnet
Now we have the 'advanced' mdraid system disk howto we need to clarify that this mdraid capability is only supported for the system drive and offer up a howto on re-purposing mdraid members as Rockstor btrfs

[2016-06-13 18:07] phillxnet opened #141 "Clarify NUT user and password requirements"
Thanks to @AngeleToR in the following forum post for bringing this shortcoming to light:
https://forum.rockstor.com/t/ups-service-fails-to-start/1609/3
It would be better to clarify that the password is made up on the spot for standalone installs especially.
Please update the above forum post with progress on this issue.

[2016-06-18 19:36] Fantastitech opened #142 "Raid5/6 recovery documentation is incorrect and/or out of date"
I've just finished a couple of pretty major recovery operations and I noticed, after much research that the documentation for data recovery on RAID5/6 arrays had inaccuracies, out of date information, and unnecessary redundancies.

## Mount command
Step 1 and step 12 instruct to mount the pool with:

     # mount /dev/sda /mnt2/mypool

However BTRFS will not mount an array with a missing, failed,

[2016-06-22 11:29] phillxnet commented on #142
@Fantastitech Well done on your improvements here by way of your associated pr. Since this has now been merged and published are you content for this issue to be closed?
Please feel free to do so if you are; ie as Fixed by #143
Cheers.

[2016-06-22 11:38] phillxnet opened #144 "Highlight pivotal mdraid install step"
Thanks to @GIDDION in the following forum post:- https://forum.rockstor.com/t/mirroring-os-drive-using-linux-raid/916/14 for further proofing the mdraid install howto "Mirroring Rockstor OS using Linux Raid".
As per @GIDDION 's suggestion there is a pivotal step that could be a common failure for installers:
"Select btrfs for the partitioning scheme (centre left)"
This could be better highlighted

[2016-06-22 14:16] Fantastitech commented on #142
Yep, everything looks great. Thanks.

[2016-06-22 14:16] #142 closed

[2016-06-22 15:43] schakrava commented on #142
Thank you!! for your contribution.

[2016-06-29 18:25] schakrava opened #146 "Add a BTRFS primer"
A brief primer for those that have not used BTRFS before, or not know much about it.
Highlight use cases, features and cutting-edge nature of some features like raid5/6.
Highlight upcoming features and how they are planned to be integrated into Rockstor.

[2016-07-06 11:13] phillxnet opened #147 "add raid56 warning to faq section."
We have an existing "Is BTRFS filesystem reliable" section that adequately indicates the current status of btrfs but given recent concerns over the parity raid variants we could add a note to that section referencing the btrfs wiki's main page indicating the recent "(experimental, not production-ready)" status change.

[2016-07-06 12:01] phillxnet commented on #147
I am currently working on this issue.

[2016-07-06 18:42] #99 closed

[2016-07-06 18:42] #141 closed

[2016-07-06 18:42] #144 closed

[2016-07-06 18:42] #147 closed

[2016-07-11 16:29] phillxnet commented on #144
The indicated forum thread has been updated as per request.

[2016-07-11 16:44] phillxnet commented on #141
The indicated forum thread has been updated on the resolution of this issue.

[2016-07-11 17:01] phillxnet commented on #99
The indicated forum thread has now been updated.

[2016-07-14 16:33] phillxnet commented on #146
Of note here btrfs feature wise is bad disk notification and hot spare pending features which are intertwined.
Also we have the pending addition of inband / inline deduplication.
And of course planned built in crypto.
There are also plans to use the existing facility within metadata to categorise / utilise devices differently according to their relative speed.

[2016-08-02 15:51] magicalyak opened #149 "Create MAC OS X section for USB creation"
for quickstart.rst it would be good to have a Mac OS X option.  This should be possible using dd and the diskutil command.  I am testing this now but following this guide (with the only change being umount should be called through diskutil (diskutil umount /dev/disk2s2) and not directly) and it appears this does work well on El Capitan (latest).

http://osxdaily.com/2015/06/05/copy-iso-to-usb-driv

[2016-08-02 15:52] magicalyak commented on #149
http://osxdaily.com/2015/06/05/copy-iso-to-usb-drive-mac-os-x-command/

[2016-08-02 16:49] phillxnet commented on #149
@magicalyak That would be most welcome. I've tested a similar method on 10.11.1 a while back and posted example output in the following forum thread which may be of use:
https://forum.rockstor.com/t/problems-creating-bootable-installation-usb-flash-drive-on-a-mac/884/8

If you are sure of the method you propose and have tested it then I say you go straight to the pull request. If the assembled ins

[2016-08-02 16:54] magicalyak commented on #149
Great, so far I have only "made the USB" not installed from it.  I have had some disk errors and am going to reinstall Rockstor and re-import the two pools I have using this USB.  If it works I'll do the pull request.

[2016-08-03 01:29] magicalyak commented on #149
Just succeeded with the install, I'll update the rst tomorrow :)

[2016-08-03 12:42] phillxnet opened #150 "add min device size to min sys requirements"
Thanks to @rocklobster in the following forum thread for this suggestion.
Rockstor currently ignores any drive that is < 1GB in size so we should indicate this minimum in the "Quick Start" guide under "Minimum system requirements".
As this value is still very small for modern volumes I think the docs should stress a minimum recommended of 4GB per device as some balance operations for example can f

[2016-08-03 12:45] phillxnet commented on #150
Please update the following forum thread on this issues resolution:
https://forum.rockstor.com/t/virtualbox-install-extra-disks-not-seen-in-gui-best-practise-for-raid1/1858

[2016-08-08 16:10] phillxnet opened #152 "add zoneminder rock-on guide"
Given zoneminders popularity as a security camera management system I think it would be good to have a dedicated Rock-on howto. This could also cover the initial setup of zoneminder for a simple single camera install.

I am in the process of setting up a Zoneminder Rockstor install so will attempt to prepare this howto as I go. Any additional notes here on suggested share sizes etc are most welcom

[2016-08-08 18:00] schakrava commented on #152
As time permits, I'd really like to try this rock-on at home myself.

[2016-08-08 18:41] phillxnet commented on #152
@schakrava Yes, it's a great addition. When I last set it up for a client some years ago I used an android app to act as an ip camera for testing purposes. I'll try and put this in the write-up as an example camera setup and explain the ffmpeg settings once I've sussed them.

Have done most screen grabs for install and initial config stages. Will attempt to get first draft done shortly, hopefully

[2016-08-09 13:07] phillxnet opened #153 "correct plex guide share info"
With a recent update to the Plex Rock-on the number of shares required has changed, ie the transcoding share has been dropped from upstream plex and consequently the updated docker image we use. Our current "Installing Plex Rock-on" section of the guide has not been updated to reflect this.

[2016-09-10 16:52] phillxnet commented on #153
Fixed by commit https://github.com/rockstor/rockstor-doc/pull/136/commits/97ba5f74609e962b9907f2f9abef134d42c163fd
which was part of pr #136

[2016-09-10 16:52] #153 closed

[2016-09-10 16:57] phillxnet commented on #149
@magicalyak Given your pull request to address this has now been merged and published, #151, are you game to close this as Fixed by #151?

[2016-09-10 16:58] magicalyak commented on #149
Yes

On Sat, Sep 10, 2016, 12:57 PM Philip Guyton <notifications@github.com>
wrote:

[2016-09-10 17:02] phillxnet commented on #140
I have something mostly written for this along with supporting images. Will try and submit during my next docs session.

[2016-09-10 17:05] phillxnet commented on #149
@magicalyak Cheers, given you are the original author you are also able to close. Please go ahead and close if your are game. Thanks for fleshing this one out by the way.

[2016-09-12 11:43] #149 closed

[2016-09-12 11:45] magicalyak commented on #110
Is this still an issue?

[2016-09-12 11:58] phillxnet commented on #110
@magicalyak Yes, things are as stated in my last comment in this issue and the related and linked #16 issue. I'm thinking we ditch the client section and use the best bits if they are not already prescent in the relevant protocol sections. That way when looking at samba section one gets the Rockstor server setup side and client side in one doc. Does seem to be he way things are moving in the docs

[2016-09-12 12:05] phillxnet commented on #110
@magicalyak Another example of a more user friendly and graphical presentation of client access within a protocol section is in the sftp protocol section:
http://rockstor.com/docs/sftp/sftp.html#accessing-a-sftp-share

[2016-09-12 12:12] phillxnet commented on #110
@magicalyak If you do decide to chip in on this one as well please note your intentions here to try and avoid overlap with other contributors. Cheers. That way others will see it's already in hand.

[2016-09-13 09:18] phillxnet opened #155 "link to btrfs status page"
Thanks to @Yoshi in the following forum thread for drawing attention to this. In the past few days a btrfs status page has emerged which breaks down the stability status of various btrfs features; it would be good to link to this from for example our FAQ and pool sections.

Please update the following forum on this issues resolution:
https://forum.rockstor.com/t/btrfs-raid-5-6-warning/1712/9

[2016-10-06 21:08] phillxnet commented on #152
Please update the following forum thread when the associated document pr #154 has been reviewed and published:
https://forum.rockstor.com/t/zoneminder-no-video-looks-like-a-broken-url-in-monitor-window/2152/3

[2016-10-24 12:35] phillxnet opened #156 "add reciprocal link to reinstall page from config backup page"
Thank's to @k0nsl in issue https://github.com/rockstor/rockstor-core/issues/1497 for highlighting the lack of a link from the http://rockstor.com/docs/config_backup.html#configuration-backup-and-restore
page back to the related http://rockstor.com/docs/reinstall/reinstall.html#reinstalling-rockstor page.
This would be a useful link back for those ending up on config backup and save page first, whe

[2016-10-24 12:40] phillxnet commented on #156
While editing the http://rockstor.com/docs/reinstall/reinstall.html#reinstalling-rockstor page it would be better to reference the config save and restore at page the beginning as well as at the end. This would further help prevent the loss of prior configuration details.

[2016-11-10 09:21] phillxnet opened #157 "Add drive serial requirements to min sys spec"
Thanks to forum users Christopher_Nicol and dison4linux in the following forum threads for their recent reports on this shortcoming. Given Rockstor's reliance on serial numbers to track drives it should be stated in the minimum system requirements section, especially for the system drive as then we simply error out rather than with other drives where we are able to display a message explaining the

[2016-11-13 10:45] phillxnet opened #158 "section to explain system uuid function"
Thanks to forum users fulanodoe and Tomasz_Kusmierz for highlighting this issue.
To ease re-installs from a Rockstor stable channel updates registration point of view the system uuid is employed as a unique host identifier.  We should explain how this works and that it depends on the sometimes unavailable / non unique output of:
[code]
When non unique output is obtained the utility of this functio

[2016-11-17 06:17] jakieu commented on #155
Some progress, hopefully merged in Linux 4.10...

https://www.phoronix.com/scan.php?page=news_item&px=Btrfs-RAID5-RAID6-Fixed

[2016-11-20 14:58] phillxnet opened #159 "document the disk power status columns"
Thanks to forum user @phil47 for highlighting this issue. We have no documentation on the disk idle power down feature recently added to the disk page. This could be added as a section to the disks page:
http://rockstor.com/docs/disks.html
ie an explanation of the pause and hour glass icon functions and how these might relate to the APM level in the next column. It would also be good to explain th

[2016-11-26 12:02] phillxnet opened #160 "VirtualBox install demo video link broken"
In the "Quick evaluation using a virtual environment" sub section of the Installation section this video link fails with:
"This video is private"
the link used is:
https://www.youtube.com/watch?v=00k_RwwC5Ms
We probably need an updated install video anyway: ie one based on the soon to be released:
3.8.16 stable.

[2016-11-26 14:12] schakrava commented on #160
Thanks @phillxnet , you are right. We should update the video. But for now, I made it public, not sure why it was private in the first place.

[2016-11-26 14:12] #160 closed

[2016-11-26 14:29] phillxnet commented on #160
@schakrava  Cheers. I've now updated the forum post which lead to this discovery.

[2016-11-26 18:16] #152 closed

[2016-11-27 00:05] phillxnet commented on #152
The indicated forum thread has now been updated.

[2016-11-30 11:10] phillxnet commented on #157
Please also update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/error-running-a-command-cmd-cmd-sbin-btrfs-filesystem-show-dev-disk-by-id-sda3-rc-1-stdout-stderr/2428

[2016-12-10 12:11] phillxnet opened #161 "uefi install quirks re root is not btrfs"
Thanks to forum member yukimi in the following forum thread for highlighting this issue. During some UEFI based installs it appears that the LVM partition scheme is re-asserted as default rather than the btrfs scheme required by Rockstor. This leads to a ".. please re-install Rockstor properly" message.
The work around confirmed by yukimi is to choose the manual partition option, select btrfs from

[2016-12-10 12:18] phillxnet commented on #161
Note that this issue also relates to earlier posts in the same forum thread by m3elloa and William212 which have in turn been issued in the rockstor-iso repository under:
https://github.com/rockstor/rockstor-iso/issues/13
and the observed behaviour may well change with developments in updating the Rockstor installer:
https://github.com/rockstor/rockstor-iso/issues/12

[2016-12-10 16:38] phillxnet commented on #157
Please also update the following post re development on this issue:
https://forum.rockstor.com/t/root-filesystem-is-not-btrfs-during-rockstor-installation-you-must-select-btrfs-instead-of-lvm-and-other-options-for-root-filesystem-please-re-install-rockstor-properly/2327/27

[2016-12-18 17:19] phillxnet commented on #140
Please also update the following forum thread with progress on this issue:
https://forum.rockstor.com/t/smart-value-don-t-show-at-webinterface/2539/3

[2016-12-19 13:58] phillxnet commented on #157
Please also update the following forum thread re development on this issue:
https://forum.rockstor.com/t/vmware-giving-error-not-a-valid-btrfs-filesystem-dev-disk-by-id-sda3/2543

[2016-12-23 11:33] phillxnet commented on #157
Please also update the following forum posts on this issues resolution:
https://forum.rockstor.com/t/error-running-a-command-after-base-installation-of-3-18/2563
and
https://forum.rockstor.com/t/houston-weve-had-a-problem-immediately/2566

[2017-01-13 17:35] phillxnet commented on #157
Another forum post related to this issue:
https://forum.rockstor.com/t/ive-got-a-vm-with-1tb-disk-when-i-go-to-disks-scan-i-get-this/2677

[2017-01-20 12:48] phillxnet commented on #157
@exelan (In case you pick this issue) The file that requires editing for this issue is the "quickstart.rst" file in the top directory.
https://github.com/rockstor/rockstor-doc/blob/master/quickstart.rst
An additional bullet point with something along the lines of:

"All drives must have unique serial numbers (real drives do); not all VM systems default to this."

should do it.

[2017-02-05 18:22] phillxnet commented on #159
Please also update the following forum thread on the resolution of this issue:
https://forum.rockstor.com/t/help-me-with-sleep-mode-please/2793

[2017-02-05 19:00] phillxnet commented on #159
It is proposed that the Disk page be updated to include this information, or a link to a more specific page, as there is also a need to refresh the images on the Disk page.

I intend to have a quick go at this issue shortly as I have already taken some screen shots for the last quoted forum thread that may be useful.

However it may be more efficient to await the outcome of pr:
https://github.com/

[2017-02-11 16:39] phillxnet opened #164 "Update disk section"
The Disks page is now outdated given changes in disk: naming, power status and custom SMART options. There have also been recent changes to enable disk 'Roles' which in part enables some partition capability, as well as changing some basic functions such as disk and more recently partition wiping. This issue is intended to address the changes needed to bring the disk page back up to date.

This is

[2017-02-11 16:45] phillxnet commented on #164
My intention is to address this issue in my next doc pull request so that changes recently added to the testing channel updates will have a documentation counterpart.
Linking to recently merged pr:
"enhance disk role/management subsystem. Fixes #1494"
https://github.com/rockstor/rockstor-core/pull/1622

[2017-02-12 13:25] phillxnet commented on #164
I am currently working on this issue.

[2017-02-18 19:41] phillxnet commented on #159
As
https://github.com/rockstor/rockstor-core/pull/1622 "enhance disk role/management subsystem. Fixes #1494 #1622"
has now been merged I am addressing this issue as a sub part of #164.

[2017-03-26 01:13] #159 closed

[2017-03-26 01:13] #164 closed

[2017-03-27 19:25] phillxnet opened #166 "explain rock-ons-root snapshots"
Thanks to knucklehead101, mrseth1, glenngould, and MvL in the following forum threads for highlighting this issue. Since docker (Rockons) use snapshots to manage image layers their deletion will break installed Rock-ons. An explanation of their purpose and use will help to clarify their appearance in the Rock-ons-root share.

This explanation could be placed in the following doc section:
http://ro

[2017-05-02 11:50] phillxnet opened #167 "Improve loss prevention and recovery section"
We currently have no section withing our "Data loss Prevention and Recovery in Rockstor" section to guide users through an in place drive replacement, i.e. with additional cautionary -r (read other) for known defective drives. We also favour degraded mount in all repair scenarios yet this is not required when a drive is still functioning but showing signs (S.M.A.R.T errors) of failure.

It is prop

[2017-05-07 15:04] phillxnet opened #168 "add wipefs to wiping disks section PBP"
We have recently had an instance where prior partitioned disks triggered an otherwise rare failure in Rockstor's disk management system. Although the fix for this instance is now understood it could server us well to add an additional section under "Wiping Disks (DBAN)" in our "Pre-Install Best Practice (PBP)" howto so that users would have a resource to consult upon similar trigger cases in the f

[2017-05-24 09:27] phillxnet commented on #139
Linking to related issue #84 "update concepts doc".

[2017-05-24 09:35] phillxnet commented on #37
This issue was written prior to our now standard use of the elrepo kernel ie 4.10 as of writing and now fairly regularly updated.

Linking to related issue re pending improvements to our "Data loss Prevention and Recovery in Rockstor" section #167 "Improve loss prevention and recovery section" which specifies a particular short coming. And we have had additional improvements to this section in the

[2017-05-24 09:42] phillxnet commented on #24
@schakrava This issue is due for closure as the indicated commit has been merged. Unless it is a catch all but then it can never be closed!.Is that the intention? Thanks.

I favour cleanups going in along side named issues myself as less clutter in the end. Can work both ways though.

[2017-05-24 10:12] phillxnet opened #169 "document LUKS concepts and UI capabilities"
Explain the UI steps involved in preparing a LUKS volume, ie format then boot up config on consequent container. A link to this same doc can be made from the existing Disks page from within the "Wiping a Partition or Whole Disk" section or from an adjoining section, with the caveat of only pertaining to whole disk. Updated image in Disk section may be required.

This issue should cover an explanat

[2017-05-28 18:38] phillxnet opened #172 "add plex ui access tip on rock-on write-up"
When accessing the Plex Web UI via it's "Plex UI" Button on the Rock-ons page it can under some circumstances fail to show the UI and only present a Plex User Sign In / Sign Up page when there exists a functional Plex server UI. The caveat being a requirement to use the Rockstor machine's IP:
ie rather than for example with a machine named cube.lan:

    http://cube.lan:32400/web/index.html

and g

[2017-07-01 13:02] phillxnet opened #173 "enhance the stable channel text to indicate motherboard relevance"
Thanks to kenneth_mccombs in the following forum thread for highlighting this issue. Previously a stable channel subscription would be required on every re-install. However some time ago we moved to using the motherboard as subscription id validation. This detail would help users to plan for such eventualities and make for a smoother experience.

Please update the following forum thread with the r

[2017-07-01 18:33] #157 closed

[2017-07-01 19:04] #169 closed

[2017-09-11 12:58] phillxnet commented on #172
Please also update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/plex-setup-issues/1777/6

[2017-09-27 11:04] phillxnet opened #174 "update pool mount options section"
As of rockstor-core pr https://github.com/rockstor/rockstor-core/issues/1728 the following mount options were added: ro, rw degraded, and skip_balance. These are not reflected in the indicated docs section.

[2017-11-09 17:51] phillxnet opened #176 "add link in redundancy profiles section to wiki status page"
Currently we have a "Please see the btrfs wiki for up to date information on all btrfs matters." this should be enhanced to include a link to the more specific btrfs wiki raid levels status page:
https://btrfs.wiki.kernel.org/index.php/Status

[2017-11-25 20:26] phillxnet opened #177 "add assemble and scan command to mdraid howto"
Thanks to forum member HBDK in the following forum thread for highlighting this issue. As of Rockstor iso 3.9.1 when following the docs "Mirroring Rockstor OS using Linux Raid" howto the mdraid system no longer automatically assembles the md devices. It was found that an additional command in now required to enact the raid devices scan and assembly:

step 8: Change our root mdraid to btrfs

has
[c

[2017-11-26 19:34] HBDK commented on #177
i have created a pull request for this and some other changes
#178

[2017-12-08 14:26] phillxnet commented on #172
A related enhancement to this doc issue would be to detail the procedure necessary to use the installed Plex server without first acquiring an online plex account:

I.e when accessing the plex server for the first time and using the above suggested 'by ip' method rather than the default via Plex UI button by  hostname we are presented with the following screen:

![plex-first-login-whats-this-link]

[2018-01-21 12:31] phillxnet opened #179 "address practicality of contributor perk pledge"
In the "Update Channels" section, the use of the word "unlimited" could, in unfavourable circumstances, lead to a potential denial of service exploit of the registration server by way of an unending stream of otherwise valid registration requests. It is proposed that we address this issue by explicitly stating the intended use of this contributor 'perk'.

[2018-01-21 13:02] phillxnet opened #181 "format issues with Mirroring Rockstor OS howto"
Several recently added elements of the "Mirroring Rockstor OS using Linux Raid" are failing sanity checks carried our by Spinx v1.5.5 (64bit). Some of these anomalies are reflected in formatting issues. Opening this issue to attempt to address these and any other existing Spinx errors or warnings so that we might return the docs repo to passing these mostly useful pre-checks.

[2018-01-21 22:08] #181 closed

[2018-01-21 22:09] #179 closed

[2018-03-18 11:38] phillxnet opened #183 "missing links in Basic Concepts section"
It would be good to ensure that there is a link from each of the sections on the Basic Concepts page to the more detailed specific sections, ie Disk to the Disks page, Pool to the Pools page etc.

[2018-04-06 09:08] phillxnet opened #184 "Add Data Import and Reinstalling Rockstor links to Configuration Backup and Restore"
Thanks to erik_llorente in the following forum thread for highlighting this issue. Although we have a 'Data Import' section at the end of the 'Reinstalling Rockstor' section which in turn links to the pool/share/clone/snapshot import mechanism provided via the 'Disks' page we do not have a similar convenience line within the 'Configuration Backup and Restore' section. It is proposed that this woul

[2018-04-11 10:04] phillxnet opened #185 "typo re sftp exported share mount point"
Thanks to forum member asood in the following thread for highlighting this issue. In sftp.html we incorrectly reference a mount point as beginning /mnt3... this should be /mnt2... and represents a simple typing mistake on the path.

Please update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/rsync-to-a-rockstor-share/4619/8

[2018-05-04 09:38] phillxnet commented on #30
Please update the following forum thread, which has an example of the  missing service configuration elements within the replication documentation as it stands, with this issues resolution:
https://forum.rockstor.com/t/error-enabling-replication/4735

[2018-09-24 20:37] FroggyFlox opened #186 "Add section about "Contributing to Rock-ons""
Thanks to the forum user @TexasDex, it has been brought to our attention that while the process for contributing to Rockstor-core and Rockstor-doc development is well-described in the documentation, the process to write a Rock-on definition file isn't detailed.
As a detailed write-up already exists in the rockon-registry, one may add a very small write-up about Rock-on development in the documenta

[2018-09-27 11:32] #186 closed

[2018-12-13 14:53] FroggyFlox opened #189 "Add section on Rock-on "Add Storage" feature"
The Rock-on summary settings as well as the "Add Storage" to an already installed Rock-on feature are not currently described in the documentation.
Adding explanation and an example use of the latter would be beneficial as it is a critical and very convenient (and thus popular?) feature of the Rock-on system.

[2018-12-30 16:01] phillxnet opened #191 "broken sphinx install link / instructions"
The "Installing Sphinx"  sub section of "Contributing to Rockstor documentation"(contribute_documentation.html) has a broken link:

http://www.sphinx-doc.org/latest/install.html

this could be replaced with:

http://www.sphinx-doc.org/en/master/usage/installation.html

and to add robustness we could also link to Sphinx's home page by changing our existing "Sphinx official documentation" text into

[2018-12-30 17:50] phillxnet commented on #191
Given a successful 'make html' can only be accomplished with the addition of the following modules:

sphinxcontrib-fulltoc
sphinxcontrib.youtube

we should also add a section for their install, although a python2 version for sphinxcontrib.youtube is provided there is an issue if using the python3 version of Sphinx in that there is an upstream issue of no upload currently available for sphinxcontri

[2019-02-06 18:23] Dbzs opened #193 "USB Rufus Howto update"
Rufus how to is based on older version and while the options are still valid in version 3.4 how and when you select them has changed.  Need to update pictures and text to match new version.  Opening this so I can work it.

[2019-02-06 19:12] phillxnet commented on #193
@Dbzs Thanks for opening this issue and stepping up to improve our docs. It would be great to have this howto updated.

[2019-02-06 19:49] Dbzs commented on #193
Working on it now, and learning git on the fly, think it will all work out.

On Wed, Feb 6, 2019, 2:12 PM Philip Guyton <notifications@github.com wrote:

[2019-02-07 15:02] Dbzs commented on #193
@phillxnet Just finished the update and hopefully opened my first pull request.  If things don't look right I'd appreciate any feedback.

[2019-02-07 15:13] Dbzs commented on #183
@phillxnet I think I can take this one on next.  Do you want to check my homework on the Rufus update before start this one?

[2019-02-07 15:18] phillxnet commented on #193
@Dbzs pull request wise that looks just fine. Well done. We just need a review / second set of eyes and we can pop that in (given any suggested changes are worked through).
I've added a "needs review" label to the pull request and we can take it from there.
Can't do myself just yet however as otherwise engaged but we should be able to get to this fairly quickly hopefully.
Thanks again for tackling

[2019-02-07 15:23] phillxnet commented on #183
@Dbzs If you are game then great. Thanks a lot.

As per your prior pr if you do as you did in that one I think you will be golden.:)
Just remember to branch from master again as this doesn't overlap and isn't co-dependant so should not be a problem. And of course make sure you work in an issue specific branch as you did with the last pr.
Super.

[2019-02-07 16:08] Dbzs commented on #183
@phillxnet quick question on this one.  I added links for all except Secure Shell and Smart Manager because I don't think there is a detail page to link to.  There is a page for SMART disk drive info, but based on the description I don't think that's what you're describing.  If you can point me in the right direction I'll add those links, other wise I can create a pull request as is. Thanks.

[2019-02-07 19:41] phillxnet commented on #183
@Dbzs Thanks for your efforts here. One point I'm afraid I should have clear up first is that web url links of the type you have used are a little fragile in comparison to the 'internal' type links. Look to other links of the kind that reference internal doc labels.

I.e. a label will be something like
[code]
and an internal link to that is made thus:
[code]

These particualar examples can be seen

[2019-02-07 19:43] phillxnet commented on #183
Those internal links are actually quite fancy as they pickup on the target text and present it within the link. Give it a go on one first and see if it works for you.

[2019-02-07 22:34] Dbzs commented on #183
Phil,
  No worries, not discouraged, I just need to actually go through the full
sphinx install and get it working.  I was able to do the rufus update all
inside the editor on the github site.  I was surprised when it rendered,
but I wasn't going to argue.  Sounds like I'm not going to get away with
that using internal links so it will slow me down a bit, but hopefully not
too long.

Are my assump

[2019-02-08 16:01] Dbzs commented on #183
@phillxnet @schakrava I think I got the link thing figured out using :ref: and I used the link in the last line of the rock-ons paragraph as my style template to add links to the other sections.  Only 2 sections I can't do are SSH, and Smart Manager, because there is no page to link to, but Smart Manager sounds a lot like Dashboard.  So if you agree, I can update the title of the Smart Manager sec

[2019-02-08 16:23] Dbzs commented on #183
@phillxnet @schakrava Is this the same issue as 84 and 139?  If so any actions required?

[2019-02-08 16:36] phillxnet commented on #139
Closing as an inadvertent:

duplicate of #183

"missing links in Basic Concepts section" #183

Thanks to @Dbzs for pointing out the duplicate and working on #183 currently.

[2019-02-08 16:36] #139 closed

[2019-02-08 16:41] phillxnet commented on #183
@Dbzs Well done with chipping away at this.
Re: Smart Manager, it's actually an internal name for an element of Rockstor that works in the background so I'd leave that for now. And yes we don't have a SSH details section such as is described there.
Are you able to check your work via Sphinx, if so a paste of what it said would be good. Also a quick functional check of your links via the python web

[2019-02-08 16:53] phillxnet commented on #24
Closing as lacking specificity and we need to reduce our backlog to more easily see specific requirements.

[2019-02-08 16:53] #24 closed

[2019-02-08 20:30] Dbzs commented on #183
Happy to finally find a way to contribute, I've been leaching for a couple years, and love the system.  I sort of cheated today, I was working from my company machine so checked my work in an online sphinx editor https://livesphinx.herokuapp.com/ and it all rendered properly, but no report to attach.  Still don't have the web server set up, hoping to find time this weekend to take care of that.

I

[2019-02-08 21:42] phillxnet commented on #183
@Dbzs Thanks for your extended efforts here. Much appreciated. And nice find re the online sphinx editor. Maybe you could pop a link into the Sphinx info section if you do end up doing that issue.

I will endeavour to review your pull requests shortly and can run a Sphinx check on them when I do so no worries there. Well done on working the git complexities out by the way.

Thanks again for your e

[2019-02-09 14:28] phillxnet commented on #193
Closing as fixed by
"Rufus ver3.4 update" #194

Thanks @Dbzs and well done on a nicely presented pull request.
Much appreciated.
The published version won't be available until the rockstor-doc repo is pushed out the main webserver however.

[2019-02-09 14:28] #193 closed

[2019-02-09 14:33] Dbzs commented on #193
Good news, thank you. Glad I can help.

On Sat, Feb 9, 2019, 9:28 AM Philip Guyton <notifications@github.com wrote:

[2019-02-09 16:21] phillxnet commented on #183
@Dbzs Thanks for another nice set of improvements. Much appreciated. The absence of these links was rather embarrassing really.

Closing this issue as fixed by @Dbzs in pr #195

Remember that you can delete your issue specific branches via the button presented in the now closed pull request. Helps to keep things tidy in your GitHub clone, git wise, if you have fewer branches.

[2019-02-09 16:21] #183 closed

[2019-02-09 16:33] phillxnet commented on #103
Closing as partial duplicate of:
"Connecting to shares via CIFS and NFS" #16
and
"Add how-to for Samba access from different clients" #110
@vinima Thanks for opening this originally, I'm just trying to manage (read reduce) our backlog into more tightly defined issues. Hope all is well with you.

[2019-02-09 16:33] #103 closed

[2019-02-09 16:39] phillxnet commented on #16
Closing as all info / ideas here are duplicated and with more engagement in:
"Add how-to for Samba access from different clients" #110
which also has Linux and Mac references.

[2019-02-09 16:39] #16 closed

[2019-02-09 17:28] #189 closed

[2019-02-09 19:33] Dbzs commented on #191
Just opened a branch to start working this one.

[2019-02-09 20:18] phillxnet commented on #177
Belatedly closing as fixed by @HBDK in pull request #178.
Thanks again @HBDK for fixing this one.

[2019-02-09 20:18] #177 closed

[2019-02-09 20:22] phillxnet commented on #158
Copying in relevant partial duplicate issue text #173

_"Thanks to kenneth_mccombs in the following forum thread for highlighting this issue. Previously a stable channel subscription would be required on every re-install. However some time ago we moved to using the motherboard as subscription id validation. This detail would help users to plan for such eventualities and make for a smoother experie

[2019-02-09 20:24] phillxnet commented on #173
Closing as duplicate of #158
All info here has been transferred to #158

[2019-02-09 20:24] #173 closed

[2019-02-13 16:57] Dbzs commented on #191
@phillxnet just submitted a pull request that address these comments and adds a little more info awaiting feedback or recommendations.

[2019-02-13 17:16] phillxnet commented on #191
@Dbzs Thanks again for your efforts here. Commented in the pr after a quick look and will try to get to a proper review soon. Nice additional changes by the way.

[2019-02-13 17:58] Dbzs commented on #191
@phillxnet Saw your comment on the auto close syntax, happy to fix.  To get back to editing, do I close the pull request, make the change and reopen?

[2019-02-13 18:04] phillxnet commented on #191
@Dbzs No need to close the pull request, you can simply edit your pull request text in place:

![edit-pull-request-text](https://user-images.githubusercontent.com/2521585/52733098-c742a680-2fb9-11e9-9133-6f4fdc5be781.png)

via the 3 dots top right.

[2019-02-13 18:12] phillxnet commented on #191
The text you added to the docs re "Fixes #issue" looked fine, it was the the pull request text really. Hence the irony in your actual submitted docs entry:

"... if you add a "Fixes #number-of-issue" on it's own line ...".

Thanks. Trying not to be too picky here but also want to try and keep our repositories maintained and these little auto features help with tidying up after ourselves. So again

[2019-02-13 18:16] Dbzs commented on #191
Fixed.
I has to reread your comment.  I thought I had it wrong in the doc revision.  My comment entry was actually "helped" by auto complete on the github page.

[2019-02-13 18:16] Dbzs commented on #191
Happy for the feedback, I'd rather develop good habits now than break bad ones later

[2019-02-13 18:17] Dbzs commented on #191
Did I paste the sphinx output in the right place, or should I have included that differently?

[2019-02-13 19:10] phillxnet commented on #191
@Dbzs The Sphinx output was just dandy. Thanks.

[2019-02-14 15:55] Dbzs commented on #185
this looks like another one I can handle.  Change 3 to 2 sounds pretty straight forward.  I'll add a recommendation for a open source windows SFTP client as well.  If I'm not taking too many liberties I'd like to reorder the wording and links in the 4 bullet points under creating an SFTP share so it flows from the general page to the detailed section.  I read the reference forum discussion and don

[2019-02-14 17:07] Dbzs commented on #185
Scratch the SFTP client recommendation, I was going to link to WinSCP, but I see it's already done at the bottom of the page.

[2019-02-14 19:40] phillxnet commented on #185
@Dbzs Hello again, and thanks for tackling yet another docs issue.
Re the re-order were you thinking:
Create Pool (if needed)
Create User
Create Share
Export share.

I think my original ordering or user, pool, share, export was to keep the storage elements together and emphasise that this is a user based access. As per the bullet points prior. Makes a similar amount of sense to keep the share rela

[2019-02-14 22:24] Dbzs commented on #185
My thought on reordering was not the bullets themselves, but the links inside the bullet, for instance.
- Add a Rockstor user to use in the SFTP authentication process, see the User configuration section.
The first link to add user, fall's below the second link to the User configuration page.
When I followed the links it didn't make sense to me to link lower in the page first and higher second.  I

[2019-02-15 14:44] phillxnet commented on #185
@Dbzs Re the links within the bullet points. Ok I get what you are saying now. I think this would work if the first link text was only 'Rockstor user', ie "Add a **Rockstor user** to  use in the SFTP ..." as then the link text relates more closely to it's target which was what I was after. That way, as you say, the second link is then to the more specific 'Add user' subsection and the first it jus

[2019-02-15 14:56] Dbzs commented on #185
All right, sounds like we're in sync on the bullets, and I'll get some
WinSCP captures along the lines of what you already have for Linux and
OSX.  It seemed to me if we were making changes might as well do any other
house keeping that makes sense at the same time.  I think I would have felt
guilty if I had just changed a 3 to a 2 and made the pull request.

On Fri, Feb 15, 2019 at 9:44 AM Philip

[2019-02-17 17:39] Dbzs commented on #156
@phillxnet I can take this one on next, but quick question on the http://rockstor.com/docs/config_backup.html#configuration-backup-and-restore status.  The top of the page has bold text saying this is beta not recommended for production environments.  Is that still valid?

[2019-02-17 18:22] phillxnet commented on #156
@Dbzs Thanks for continuing to steam in on the docs issues backlog. Much appreciated.

Re the "... beta testing ..." note, good point but yes I think we do need to leave that in place as although this feature has been implemented for quite some time and has received some bug fixes, it's still not all that comprehensive: i.e. it still doesn't save all the items in the second list; which is enough I

[2019-02-18 02:28] Dbzs commented on #184
@phillxnet This looks like a close cousin of issue 156 that I'm starting on, I'm thinking I ought to just cross link both pages in the process and close these both, or did I miss something?  I already opened a branch specific to 156, but I could close it and open a new one referencing both issues.  What's the proper good housekeeping approach?

[2019-02-18 11:44] phillxnet commented on #184
@Dbzs I think you are fine carrying on as you are and then when you come to do your pull request, you can simply put 2 closes lines which will indicate that the one pull request address both issues. This issue will then be linked to the pull request that closed it. Hope that's clear enough. I.e. it can get messy and cumbersome to have to reference both issues in each commit or pull request so give

[2019-02-18 14:03] Dbzs commented on #156
@phillxnet saw your note on the 2 issue question I will take care of both under this branch.  One more house keeping question, I notice most of the pages with photos are in a folder with the rst and png files all located in that folder.  Currently the config_backup.rst and associated png files are all living in the main branch.  Will creating a folder and putting all the appropriate files in it ca

[2019-02-18 15:12] phillxnet commented on #156
It will if the appropriate index file is not also updated. I.e. for sftp, ups_setup, and rock-ons, which are in their own directory, we have:
[code]
in index.rst.

Where as for the older entries, when we were still using a flat layout, we have:
[code]
So as far as I can remember it's just a matter of also updating the appropriate index file, but note also that the howtos have the following link in

[2019-02-18 16:15] Dbzs commented on #156
So I moved the files on my local system and ran a make html and got some
errors about the new folder not being in toctree, so I found the toctree,
and it looked like the entry was their so I reran without any errors, and
things checked out in the browser.  I just went back and added
config_backup/config_backup in place of config_backup in the index.rst file
and had another successful build and ops

[2019-02-18 16:33] phillxnet commented on #156
@Dbzs OK great. So if you first delete the "_build" and do a fresh Sphinx build and all is well, just to double check, then it should be good. Sometimes it's necessary to wipe this directory just to double check a build is clean from scratch. Maybe that was what the errors related to.

As per code contribution you are more than welcome and if you can do Fortran (or any other language come to think

[2019-02-18 17:06] Dbzs commented on #156
Deleted _build and had another good make html run so went ahead with the
pull request.  I did just pull out an old laptop and install openSUSE leap
15 on it, but not sure I have the time to dig into all the prep work for
code contributions.  Think I'll satisfy myself with being a productive doc
contributor.

On Mon, Feb 18, 2019 at 11:33 AM Philip Guyton <notifications@github.com>
wrote:

[2019-02-19 13:16] Dbzs commented on #176
@phillxnet This one looks pretty straight forward and simple, add a link to the status page in addition to the existing link.  Am I missing anything?

[2019-02-19 13:33] phillxnet commented on #176
@Dbzs Hello again. Yes I think this one is fairly simple. That status page use to be a little behind the times but of late it has been maintained better, hence creating this issue to use it as a canonical link for redundancy status info to back-up our own comments re different raid levels.

[2019-02-19 17:14] Dbzs commented on #176
@phillxnet OK, I'll take care of it.

[2019-02-19 17:27] phillxnet commented on #176
@Dbzs Thanks. Much appreciated. My current background 'mission' is now starting to wrap up so I'm hoping to tend to all your pending pull requests there after.

It's encouraging to have the docs on the move again.

[2019-02-19 18:31] Dbzs commented on #176
@phillxnet happy to help.

[2019-02-19 18:44] Dbzs commented on #155
@phillxnet Is this closed by the #176 issue I just added the link for, or is this the same link added to another spot in the documentation?

[2019-02-19 19:50] phillxnet commented on #155
@Dbzs Yes nice find. If you could add an additional closes line (on it's own) to your just submitted pull request original text (ie edit it like before) with this issue number then you can do another 2 in one. You appear to be doing double time these days :)

Marking this issue as:

Duplicate of #176

as per @Dbzs finding/suggestion.

Apologies for my miss management of these issues but I think we

[2019-02-19 21:10] Dbzs commented on #155
@phillxnet what can I say, I'm lazy so I'm all for getting a two-for whenever possible.  If folks aren't going to do due diligence before submitting your at a huge disadvantage trying to keep these all straight.

[2019-02-19 21:24] phillxnet commented on #155
@Dbzs My fault really but it will certainly be easier as we get the backlog down. I'm going to do another work through our really old rockstor-core issues soon as they are way too numerous and there are bound to be duplicates / out-of-date candidates in there by now. Plus it definitely impacts on the value of an issue tracker if it becomes bloated. Some systems simply auto close issues past a cert

[2019-02-19 21:55] Dbzs commented on #155
@phillxnet I've looked at some of the older ones thinking working from oldest to newest made sense, but some of them were a little vague and I wasn't sure how applicable they still were.  So I changed my approach to knocking out well defined ones first, then when we're out of quick kills, I can start digging in and defining the more nebulous ones, but that may take some back and fort to make sure

[2019-04-05 20:09] phillxnet opened #201 "missing required packages list in developers section"
Thanks to forum user jcdick1 for highlighting this issue. We are missing a list of the required packages to build rockstor-core form source in the Developers doc section. A similar list is provided in our openSUSE wiki entry but these pertain to openSUSE variant and not our existing released CentOS variants.

Please update the following forum thread with this issues resolution:
https://forum.rocks

[2019-04-28 16:19] #155 closed

[2019-04-28 16:19] #176 closed

[2019-04-28 16:28] #191 closed

[2019-04-28 17:20] #185 closed

[2019-04-28 17:57] #156 closed

[2019-04-28 18:06] phillxnet commented on #184
Closing as fixed by #199 by @Dbzs
Thanks @Dbzs
Closing this manually as it looks like your double entry of issue numbers in the referenced pr caused the second to be ignored.

[2019-04-28 18:06] #184 closed

[2019-05-07 02:05] FroggyFlox commented on #130
Hi @phillxnet,

I don't think the first part of this issue still applies as interface roles have changed (https://github.com/rockstor/rockstor-core/issues/1146#issuecomment-231620868 and https://forum.rockstor.com/t/network-interface-role-info-and-quirks/997/5?u=flox), but the second part related to the description of teaming and bonding capabilities is still valid.

As I have added to the Network

[2019-05-13 12:24] phillxnet opened #202 "add circleci sphinx build with test deployment option for doc admins"
The free plan of circleci, along with GitHub integration, should enable us to provide a test Sphinx build of 'master plus proposed pull requests' upon pull request submission. It would also be nice if a test publish of the docs could be accomplished upon successful / no errors Sphinx 'make html'. The latter would best be implemented, to avoid prank use, via manual request on the linked circleci co

[2019-05-13 12:35] phillxnet commented on #202
Also consider GitHub Actions as an alternative for the same function.

[2019-05-13 20:58] FroggyFlox commented on #202
That looks like a really neat feature, @phillxnet!

The documentation seems indeed like a prime candidate for that and I particularly like the idea of not having to build the PR to see the final render of the changes. Furthermore, combined with GitHub suggestions feature, it'll make PR review quick and easy to adapt if needed!

[2019-08-31 11:59] phillxnet opened #203 "normalise docs youtube channel and document accordingly"
Some embedded YouTube links are from the "Rockstor" channel, eg http://rockstor.com/docs/pools-btrfs.html#creating-a-pool
while others are from the "rockstorinc" channel.

It is suggested that we normalise the preferred channel and stick to that channel. This will require all required videos are copied to the chosen channel.

Once complete we should document the required channel to submit any prop

[2019-08-31 15:27] #150 closed

[2019-08-31 15:47] phillxnet opened #204 "remove google analytics"
In keeping with more modern preferences and to improve docs responsiveness we can remove our script entry for Google Analytics within the themes/rockstor/layout.html file.

[2019-08-31 15:48] phillxnet commented on #204
I am currently working on this issue.

[2019-08-31 17:25] #204 closed

[2019-09-03 14:04] phillxnet opened #206 "update stable channel description re shop and appman"
Our shop has for some time only offered a single yearly subscription. Previously we offered 3 and 5 year options. Update stable channel description to be more in line with our current shop offering.

Also, we are about to start a public beta trial of our Appliance ID manager (appman). This should replace the current advice re activation code transfer. Current doc advice is to email support however

[2019-09-03 16:32] #206 closed

[2019-10-18 12:25] phillxnet opened #208 "Remove now redundant BTSync entries"
As the existing Resilio Sync Rock-on has superseded our prior BTSync Rock-on, where the latter has now been removed from the rockons-registry, see pr:

Remove the BTSync rock-on from registry.
https://github.com/rockstor/rockon-registry/pull/200

it is proposed that we remove the BTSync Rock-on write-up accordingly.

[2019-10-18 12:43] FroggyFlox commented on #208
Thanks for thinking about that, @phillxnet, I forgot about this.

Ideally we would replace that with a new write-up for Resilio Sync, but in the meantime, should we simply delete the BTSync section?

[2019-10-18 17:59] phillxnet commented on #208
Agreed would be nice to have a new Resilio Sync write up but it may not be popular enough to warrant the effort. So:

I'd say so. And we have a link to this repo within the docs in the "Rock-ons Available by default" so that's something. But we could at some point update the "Rock-ons without write-ups" as that might be good for those assessing Rockstor from the docs first to see if their used app

[2019-10-18 20:21] FroggyFlox commented on #208
Very good point... This needs to be harmonized too anyway, as some of these link to the docker image on hub.docker while others link to the main project's website.

[2019-10-19 11:11] phillxnet commented on #208
Are yes, nice catch. My apologies, my fault on that one. I think we can agree these should be to the upstream projects as per our main Rock-on links.

[2019-10-21 13:20] phillxnet opened #209 "remove warning on first make html"
Upon a fresh build of docs, or where "_build" has been deleted, we always receive the following warning:
[code]
The cause of this warning is thought to be the following conf.py entry:
[code]
where _static is now believed to be redundant as if this options is [] then the _static is assumed and the warning is no longer generated.

[2019-10-23 11:07] phillxnet commented on #140
Linking to another forum thread where this came up again recently:
https://forum.rockstor.com/t/unable-to-add-disk/6458

[2019-10-24 17:58] FroggyFlox opened #211 "[Rock-ons] Add write-up for YouTrack official rock-on"
To fix https://github.com/rockstor/rockon-registry/issues/201, we need to update the YouTrack rock-on to its official image. Notably, this rock-on has specific pre-install requirements related to share ownership that would need to be documented prior to releasing the rock-on.

We would thus need to create a write-up for the **YouTrack official** rock-on with instructions on:
1. How to create share

[2019-10-24 20:12] phillxnet commented on #211
@FroggyFlox

We may have to be more specific on this one as in our pending openSUSE variants the GID's differ per user to those found in our CentOS offerings.

[2019-10-24 20:27] FroggyFlox commented on #211
Oh very good point, thank you for pointing it out as I didn't think of it. I'll make sure to detail that one needs to create the group first (with GID 13001) and then the user as part of this group.

[2019-10-25 18:59] #209 closed

[2019-10-25 19:15] #208 closed

[2019-10-25 19:51] FroggyFlox commented on #8
@phillxnet, I have noticed we do not seem to have documentation on the "_Groups_" configuration feature. As the latter is rather small, I was thinking we could take the opportunity to add it to the "User configuration" documentation page and update it at the same time.

This would thus lead to a "Users and Groups configuration" page. Maybe we could even simplify this heading to "Users and Groups".

[2019-10-25 20:06] phillxnet commented on #8
Sound great. The simpler we can put it the better.

[2019-10-26 19:47] #211 closed

[2019-11-17 01:13] FroggyFlox opened #214 "[Rock-ons] Update Plex write-up with hardware transcoding"
Since the [update of our Plex rock-on to support hardware transcoding using QuickSync](https://github.com/rockstor/rockon-registry/pull/204), it is proposed to add detailed instructions on how to set it up to the existing write-up:
http://rockstor.com/docs/docker-based-rock-ons/plex-media-server.html

Instructions could cover:
- how to verify hardware compatibility: https://ark.intel.com/content/w

[2019-11-17 01:24] FroggyFlox opened #215 "[Config Backup-Restore] Update "Scheduled Tasks" as included in backups"
Since a recent PR, scheduled tasks are supported in the config Backup & Restore feature.
Currently, the related section details them as being _planned_ but not supported yet.

We should now list them as **supported** and provide some additional details such as the fact that all types of scheduled tasks are supported, for instance.

I can take care of this small edit if this sounds like a good plan

[2019-11-27 14:30] FroggyFlox opened #216 "[Scheduled Tasks] Suspend/Reboot/Shutdown are not described"
Thanks for forum user PaulK for pointing out this issue:
https://forum.rockstor.com/t/scheduled-shutdown-reboot/6536

The current page related to _Scheduled tasks_ does not cover the following tasks:
- shutdown
- suspend
- reboot

As detailed in the forum post linked above, instructions on these features and their configuration (scheduling and RTC wakeup, for instance) would be beneficial.

The fi

[2020-01-14 17:37] #215 closed

[2020-01-19 20:42] phillxnet opened #218 "update the AUTHORS file"
This file is important to keep updated as we owe our contributors attribution and is linked to from our docs footer via the "various authors" link in the CCBYSA info.

Once updated we should add a tick to doc pr templates to request that new authors/contributors add their name as part of their first pull request on this repository. That way we can more easily keep on top of this.

[2020-01-20 20:41] phillxnet opened #219 "remove blog menu item as now defunct"
Post our server transition the prior blog is no more. We have a holding page that states it's return but plans have now changed on this. Remove from doc header.

[2020-01-20 20:51] phillxnet opened #220 "remove creative commons third party cookie"
Our main site has zero cookies yet our docs looks to be resourcing a third party cookie. Remove this dependence if at all possible.
licencebuttons.net
Initial investigation indicates this may be our Creative commons license button. If so drop graphic button and use only the existing link to https://creativecommons.org/licenses/by-sa/4.0/

[2020-01-21 15:46] #220 closed

[2020-01-21 17:06] phillxnet opened #222 "remove embedded youtube videos"
It has come to light that our embedded videos are not in keeping with our proposed privacy policy and as such I am proposing that we instead translate all to links. This is less user friendly on the surface but more in keeping with maintaining portable docs and reducing our cookie count to zero, as desired. It also makes doc updates more accessible as access to the rockstor and rockstor inc YouTub

[2020-01-21 17:21] phillxnet commented on #222
Our "Quick start" page quickstart.html has a existing YT link and looks to be compatible with our proposed privacy policy if we indicate that the link is to YouTube.

[2020-01-21 17:26] phillxnet commented on #222
I am currently working on this issue.

[2020-01-21 19:03] phillxnet commented on #222
For context shares-btrfs-subvolumes.html with 3 YT embeds for example:
Chrome dev mode, cache disabled, and served via:
[code]
Pre:
15-30s to finish.
Post:
0.230-0.300s

[2020-01-21 19:34] phillxnet commented on #222
It is proposed that the format employed here should be our defacto standard going forward:
[code]
Link text is the title of the video on YouTube. This enables users to search for these without link capability. We should keep to this exact wording "See YouTube" also and keep a clear line before and after. This make is clear what links are to YouTube and the consistency makes for an easier read.

[2020-01-21 20:29] phillxnet commented on #222
Post proposed *.rst file changes:
[code]

[2020-01-21 20:40] phillxnet commented on #222
grep -R "youtube" mdraid-mirror/boot_drive_howto.rst
[code]

[2020-01-21 21:07] phillxnet opened #224 "forum link within support.html broken"
This link references a long gone html under the rockstor.com domain.

Fix to reference the forum with appropriate surface text.

[2020-01-21 21:07] #219 closed

[2020-01-21 21:07] #222 closed

[2020-01-24 17:46] #218 closed

[2020-01-24 18:37] #224 closed

[2020-01-28 13:17] FroggyFlox opened #227 "[Config Backup & Restore] Move Rock-on configuration as supported"
In preparation for the next rockstor release in which rock-ons will be supported in the config backup & restore feature, we should also update the corresponding section of our documentation:
https://github.com/rockstor/rockstor-doc/blob/master/config_backup/config_backup.rst

Indeed, we currently have the rock-on configuration listed as _planned_, but we should move it to the list of _supported_ c

[2020-01-28 13:52] phillxnet commented on #227
@FroggyFlox Thanks for opening this issue and for it's detail.

No, I think that's more along the lines of a MVP :)

[2020-02-02 20:32] #227 closed

[2020-02-04 15:07] phillxnet opened #230 "normalise on email, replacing e-mail"
As per the consensus arrived at in rockstor-core repo, initiated by @jonpwilson, and contributed to by @FroggyFlox: email (unhyphenated) looks to be the more modern and project preferred reference.

See: https://github.com/rockstor/rockstor-core/issues/2122

Doc file in question: email_setup.html

Has the same mix of references, but the main title is already unhyphenated, as are the majority of re

[2020-02-06 15:09] FroggyFlox opened #231 "[Rock-ons] Add write-up for Nginx Proxy Manager"
As suggested by @phillxnet (https://github.com/rockstor/rockon-registry/pull/211#issuecomment-578982694), the Nginx Proxy Manager is a very powerful rock-on that was recently added, thanks to @DarkYamik. Despite a very user-friendly interface, a detailed write-up on its use inside Rockstor would be a very good addition with the potential to help a lot of users who would like to setup a nice revers

[2020-02-11 22:50] jonpwilson opened #233 "Contributing page uses SimpleHTTPServer"
This has been merged into http.server for Python 3 (as seen in the [SimpleHTTPServer](https://docs.python.org/2/library/simplehttpserver.html) docs).

References to this for Python 3 should be changed to reflect this.

[2020-02-12 14:44] #230 closed

[2020-02-12 19:55] phillxnet opened #235 "Broken blog and shop links"
Thanks to Bill via email for the heads up on some now broken blog/shop links on our install page:

http://rockstor.com/docs/install.html

Broken links as follows:

http://rockstor.com/blog/uncategorized/8tb-rockstor-diy-nas
https://shop.rockstor.com/collections/diy-accessories/products/pcie-msata-boot-drive

Our blog is now gone to reduce our maintenance burden. And our shop is focused solely on S

[2020-02-15 19:35] #233 closed

[2020-03-03 08:22] s3frank commented on #214
So how does some one get the path added to the rockon during install time otherwise?
I know how to do this on raw docker but have been looking for the right file in a stock standard rockon install for hours now to find where this setting is kept....sigh....

how to get the path needed during the rock-on install (most likely /dev/dri for QuickSync)

[2020-03-05 12:06] phillxnet opened #236 "update Disk page for question mark meaning"
Thanks to forum member meazz1 in the following forum thread for highlighting this issue. We have not yet updated our Disk doc section to reflect the new use of a question mark for early disk readiness. We do however have a reference to this question mark within the slightly newer LUKS doc section and bidirectional contextual links between these sections may help to clarify the more recent addition

[2020-03-05 13:30] FroggyFlox commented on #214
Hi @s3frank , and sorry I couldn't get back with you earlier,

I unfortunately cannot test it myself as I do not have QuickSync-compatible hardware, but the image's documentation reads:

This means that entering `/dev/dri` at the _device_ option dialog during this rock-on's install should be the way to go.

I do encourage you to post your question on our forum, however, as I believe a few users ha

[2020-03-05 15:08] s3frank commented on #214
I figured it out, thanks!
Couldn't get it to render the entry during install so I cloned the json
file and renamed the container so it's not conflicting with the original
one.
Then just hardcoded the entry into the json et voila, works like a charm.

Thanks!

On Thu, Mar 5, 2020 at 9:30 PM FroggyFlox <notifications@github.com> wrote:

--
Best regards,

-FF

[2020-03-05 15:21] phillxnet commented on #214
@s3frank It could be that your version of Rockstor pre-dates this Rock-on device extension. Could you give us the output of:
[code]
This should help to clear up what went wrong with this so we can make sure it is just a Rockstor version issue. We should also add a note within that rock-on that it requires at least 3.9.2-x to avoid this in the future. We did do this recently with a Rock-on that req

[2020-03-05 16:31] s3frank commented on #214
I will look at that next week. Just blew away my install as I was testing
rockstor on some temp hardware.
Now that I know it works well I will built a proper setup mid next week and
repeat the steps.

The version I used for install is this iso file: Rockstor-3.9.1.iso

On Thu, Mar 5, 2020 at 11:21 PM Philip Guyton <notifications@github.com>
wrote:

--
Best regards,

-FF

[2020-03-05 19:24] FroggyFlox commented on #214
Sorry I misunderstood your question.

@phillxnet is absolutely right and I should have thought of that: the support for docker devices was added in Rockstor 3.9.2-39 so you will not see this option during the rock-on install wizard if running 3.9.1. See below for release details:
https://github.com/rockstor/rockstor-core/releases/tag/3.9.2-39

Hope this helps,

[2020-03-06 00:35] s3frank commented on #214
Ah ok. So if I install update on my new box and then do the Plex setup it
will work.

What about other docker params like limit memory, cpu etc?

This particular addon can kill a box of transcoding big stuff

-FF

Sent from my mobile, powered by Frank's thumbs!

On Fri, Mar 6, 2020, 03:24 FroggyFlox <notifications@github.com> wrote:

[2020-03-07 08:41] s3frank commented on #214
are the updates freely available and installable via yum update?

On Fri, Mar 6, 2020 at 8:34 AM Frank Feldmann <frank.feldmann@gmail.com>
wrote:

--
Best regards,

-FF

[2020-03-07 15:22] phillxnet commented on #214
@s3frank

If you did not heed the popup and choose either update channel then you were running 2 year 8 months old Rockstor code (Jul 2017).

Yes.

Yes, at least in our testing channel. However this channel is currently only available in our 'Built on openSUSE' variant as our CentOS base is 'to-be legacy' and the testing channel there was deprecated a little over 2 years ago (Nov 2017), but the St

[2020-03-07 15:26] s3frank commented on #214
Ok so how do I get the openSuse setup going from the start then?
Is there an iso you provide for that?

On Sat, Mar 7, 2020 at 11:22 PM Philip Guyton <notifications@github.com>
wrote:

--
Best regards,

-FF

[2020-03-07 15:39] s3frank commented on #214
Or are you saying if I accept the testing channel on the centos iso that I
installed rockstor etc will be updated?
I work at red hat so prefer centos to be honest but in this case it's an
appliance to me at home.

Let me know, cheers. Nice work btw, I like the simplicity you have brought
into things!

On Sat, Mar 7, 2020 at 11:25 PM Frank Feldmann <frank.feldmann@gmail.com>
wrote:

--
Best regards

[2020-03-07 16:03] s3frank commented on #214
I have done some more reading and I am willing to go with the testing of
rpms on a suse build.
I think I can start here and get it going pretty fast:
https://forum.rockstor.com/t/built-on-opensuse-testing-channel-live-early-adopters-developers-only/6592

Is the system drive bug for data shares still open? I don't intend to do
that anyway but just checking.
I will have it boot from fast usb sticks

[2020-03-07 16:14] phillxnet commented on #214
@s3frank This is really a forum discussion but to round things out here:

Yes, CentOS has served us very well however the dropping of upstream (RedHat) btrfs support leaves us rather in the lurch: hence the obvious, but expensive move to openSUSE.

Re:

No:

The referenced forum threads are really a must read and I've got to leave this issue here really. All developer info or budding early adopter

[2020-03-07 16:20] s3frank commented on #214
got it, I will go there for more.

On Sun, Mar 8, 2020 at 12:14 AM Philip Guyton <notifications@github.com>
wrote:

--
Best regards,

-FF

[2020-04-13 17:39] phillxnet opened #237 "indicate AFP service as removed from 3.9.2-56 onwards"
Thanks to forum member shocker in the following forum thread for highlighting this issue.

It is proposed that we indicate, with the config save and restore section, that we no longer restore/support AFP as from 3.9.2-56.

A related note should be placed at the head of the AFP specific page to also indicate that this service in no longer supported as from 3.9.2-56.

Please update the following for

[2020-04-17 15:16] phillxnet opened #238 "minor clarifications to contributing rock-ons doc section"
Thanks to forum member dont for highlighting this issue. It is proposed that we improve some wording and add additional direction within this section to improve our on-boarding for those less familiar with git and GitHub. The proposals will mainly revolve around basic pointers for early or first time git/GitHub users which are not uncommon as contributors to our rock-ons repo.

- [x] Normalise on

[2020-04-19 14:55] #238 closed

[2020-05-24 19:11] #237 closed

[2020-06-05 11:52] phillxnet opened #241 "update minimum system requirements re regular USB keys"
Thanks to forum member b8two for highlighting our messaging failure re regular (read slow) USB key as system disk. It appears from this feedback that it can be interpreted that our current documentation wording does not make clear that absolute function failure will result when an inappropriate system disk is used (Web-UI and underlying support system time outs), i.e. in the case of a regular USB

[2020-07-21 17:52] MikeMcPherson opened #242 "Add write-up for Minio Rock-on"
PR to add the Minio Rock-on has been submitted.  Now I'll work on the write-up.

[2020-07-22 16:47] phillxnet opened #243 "publish kiwi-ng based beta installer howto"
As part of our in-process transition to the new 'Built on openSUSE' relaunch associated with the new Rockstor 4 major version jump we have a new, as yet unreleased, kiwi-ng created installer. As our ultimate aim of distributing the pre-built installer itself depends upon complying with various trademark holders pre-requisites we must first provide details of what it is we are proposing to distribu

[2020-07-22 16:48] phillxnet commented on #243
I am currently working on a pull request to address this issue.

[2020-07-25 11:48] #243 closed

[2020-08-21 10:36] phillxnet opened #246 "Provide example of setting up network teaming/bonding"
Splitting out the teaming update from: "update network section" #130 to help with focusing these required network update tasks as we now have quite a few updates required in this section.

Please see issue #130 for context:

_"And we also have teaming and bonding capability now. Perhaps, given at least 802.3ad also requires switch configuration, a concrete example covering the switch config would

[2020-08-24 16:09] phillxnet opened #247 "Include recently persisted rockstor OBS repo to new installer how-to"
As from pr/issue "(Repositories) include our OBS repo in the final image. ..." in our rockstor-installer repository we now persist within the resulting install a prior build only time rockstor:home OBS repo. Include this in the list of "included and enabled" repos in our new Rockstor 4 installer.

rockstor-installer issue reference:
https://github.com/rockstor/rockstor-installer/issues/9
and pull

[2020-08-29 17:43] FroggyFlox opened #248 "Update broken links"
In extension to #235 , we seem to have several broken links in our documentation (external links). Indeed, the Sphinx built-in link checker `linkcheck` reports **25** broken links, not all of them covered by #235.

See the full list below for details:
[code]

<details>
<summary>Full make linkcheck output</summary>

[code]

</details>

[2020-08-29 20:34] phillxnet commented on #248
@FroggyFlox Thanks. I hadn't realised there was a link checker in Sphinx. We should pop that in our backend test prior to publishing so we can make sure we don't add any as we go along.

[2020-08-29 21:28] FroggyFlox commented on #248
Good idea!
I didn't know about it either and came across it while trying to find a useful rst linter compatible with Sphinx (I was unsuccessful at that one, unfortunately). `make checklink` definitely is a useful check before merging PR.

[2020-10-22 21:59] #242 closed

[2020-11-05 16:17] FroggyFlox opened #250 "Update supported architectures"
As brought up by @phillxnet during #249's review, we can now update our list of supported architectures to add Arm64:
https://github.com/rockstor/rockstor-doc/pull/249#discussion_r516232077

This change could be done in `faq.rst`, but there might be additional places needing this information updated.

[2020-11-05 16:17] #235 closed

[2020-11-05 16:17] #248 closed

[2020-11-05 16:34] FroggyFlox opened #251 "Update support for Object Storage in FAQ"
Our FAQ currently reads:

http://rockstor.com/docs/faq.html#does-rockstor-provide-block-or-object-storage

While it is still true that Rockstor does not natively support it (to the best of my knowledge), we now also have an easy way to do so thanks to our recently added MinIO rock-on contributed by @MikeMcPherson.
Link to rock-on PR: https://github.com/rockstor/rockon-registry/pull/232
Correspondi

[2020-11-12 21:05] FroggyFlox opened #252 "Remove reference to seemingly deprecated Swish tool"
In our section on how to access SFTP shares from a Windows client, we link to the Swish tool among other options:
http://rockstor.com/docs/sftp/sftp.html#sftp-access-from-windows

Unfortunately, their latest release dates from June 2013 and the Github page hasn't seen much commits for a few years. It is, for instance, unsure whether it is compatible with Windows 10. As we have already quite a few

[2020-11-13 21:33] phillxnet commented on #252
@FroggyFlox Agreed on both points. No good having a link to an unmaintained project and always good to offer GPL* projects given our own license.

Cheers, and nice find.

[2020-11-19 17:30] phillxnet commented on #140
Linking to another more recent forum post by HarryHUK who shared another 'work around' for this same re-deploying (read wiping) mdraid members issue:

https://forum.rockstor.com/t/cant-add-disks-to-pool-or-reformat-solved/7440

[2020-11-30 13:06] FroggyFlox opened #253 "[Rock-on write-up] Netdata (official)"
In the pull request updating our Netdata rock-on (https://github.com/rockstor/rockon-registry/pull/237#issuecomment-733132309), @Hooverdan96 brought up the need for further documentation on this rock-on. In particular, it requires the GID for the docker group, which can be retrieved in multiple ways. This should be explained and illustrated in our documentation.

[2020-12-15 16:01] FroggyFlox commented on #253
The Netdata (official) rock-on PR has now been merged (https://github.com/rockstor/rockon-registry/pull/266) so we can now work to address this issue.

[2020-12-15 17:01] Hooverdan96 opened #254 "Add PGID/UID reference to General Rockon section"
Since quite a few containers (with and without write-up) have a requirement to enter PGID or UID (especially if they are based on linuxserver.io's templates), should we add a section in the general Rockon section (overview.rst), that either references the UID/PGID section in the rockstor install, or give a couple of ways to obtain that information (the primary one being for the less technical audi

[2020-12-16 17:16] FroggyFlox commented on #254
Good idea, @Hooverdan96 !

After a quick look, it seems that it would be a good fit right after the "Rock-ons root" section. Just a few words should be enough if accompanied by screenshots.
It's also a reminder that we need to update our "Users" section: #8

Down the line, I'm hoping we'll be able to have a more automated system to look up/select a user in the Rock-on install wizard itself, and ev

[2020-12-16 17:18] Hooverdan96 commented on #254
@FroggyFlox  - yep, I started looking on the documentation contribution info already. I will try in the next few days to come up with a draft...

[2020-12-19 00:42] Hooverdan96 commented on #254
Hi,
@FroggyFlox first try, please have a look. I essentially assume, that somebody that's using command line knows all the ways to get the User info, but this is really for the UI-driven user setting up their first Rock-on ...

[2020-12-25 19:25] FroggyFlox opened #256 "Document Rocknets (docker networks)"
Following merge of https://github.com/rockstor/rockstor-core/pull/2207, we need to add related documentation. This should include:
- description of different types of networks that can be created (including rocknets)
- how to edits a container's ports publication status
- how to connect/disconnect a container from a rocknet
- how to create/edit a rocknet and details on its options

[2020-12-25 19:25] FroggyFlox commented on #256
I'm currently working on the issue.

[2020-12-27 16:01] #254 closed

[2020-12-30 15:49] FroggyFlox opened #258 "Images aspect ratios are not respected"
Throughout the documentation, most images are displayed with an aspect ratio that does not fit the image's original. As a result, these images appear compressed along their width. This appears contradictory at first to the use of the `:scale:` option of the `.. image::` directive, which should scale down both height and width of the image.

After a quick inspection of the final html code, we can s

[2021-01-02 10:00] phillxnet commented on #258
@FroggyFlox Nice find.

I think I remember way back battling with this one so it's nice to have a work around. Always bug me when the images are distorted that way.

Agreed. If it looks to be behaving itself after a few trials we could later do a global search replace.

Thanks again for your diligence here. Much appreciated.

[2021-01-04 15:13] #256 closed

[2021-01-04 15:27] FroggyFlox opened #259 "Update Active Directory service documentation"
Following Rockstor 4.0.5 release (https://github.com/rockstor/rockstor-core/releases/tag/4.0.5-0), our configuration options for Active Directory configuration and enrollment have changed from what is described in the documentation. We should thus update this section in `services.rst`.

[2021-01-04 15:33] FroggyFlox opened #260 "Update LDAP service documentation"
Following Rockstor 4.0.5 release (https://github.com/rockstor/rockstor-core/releases/tag/4.0.5-0), our configuration options for LDAP configuration and enrollment have changed from what is described in the documentation. We should thus update this section in `services.rst`.

We might also include a note/comment box describing the fact that LDAP implementation is "preliminary" and that we actively

[2021-01-06 13:18] #259 closed

[2021-01-07 01:00] FroggyFlox opened #262 "Document use of NFS Advanced Edit function"
Thanks to forum user **dvgeek** for bringing to light our lack of documentation for the NFS Advanced Edit function.
While this feature is referenced several times in our forum, we should clearly (and briefly) document its use. A proper place would be at the end of the **NFS** section.
The forum post in question can be found below:
https://forum.rockstor.com/t/built-on-opensuse-testing-channel-live

[2021-01-16 15:29] FroggyFlox opened #265 "Document how to use boot-to-snapshot and rollback?"
Among the benefits from our rebase is the ability to use the "boot-to-snapshot" feature from openSUSE to rollback to a previous working system state thanks to Snapper.
While the feature is documented in [openSUSE documentation](https://doc.opensuse.org/documentation/leap/reference/html/book-opensuse-reference/cha-snapper.html#sec-snapper-snapshot-boot), our users may be looking for documentation/h

[2021-01-18 14:00] #260 closed

[2021-01-18 14:03] #252 closed

[2021-01-18 14:06] #253 closed

[2021-01-19 11:44] phillxnet opened #268 "Update base OS info"
In multiple places within our docs we reference our prior CentOS base. As this is now approaching a legacy status due to our imminent Rockstor 4 Stable release, which is 'Built on openSUSE', it is proposed that we add to the CentOS references that from Rockstor 4 onwards the base/donor OS is openSUSE Leap. Not specifying the version here is also recommended to avoid overly rapid aging of the info.

[2021-01-19 18:18] #251 closed

[2021-01-20 21:14] FroggyFlox opened #269 "[Rock-ons] Add write-up for Scrutiny"
Thanks to @20design, we now have a rock-on for Scrutiny, a hard drive monitoring program:
https://github.com/rockstor/rockon-registry/pull/261

Due to its many features and relevance to the NAS nature of Rockstor, it would be beneficial to include a proper description of its installation settings as well as a few examples for its use.

[2021-01-24 14:30] phillxnet opened #270 "Remove or update as pending the auto updates section"
The current Auto Updates option is currently only available in the now legacy CentOS based variants, last released as of 3.9.2-57. The current 4 series has this 'feature' removed; and awaiting re-implementation. It is proposed that the docs are updated to reflect this situation and to possibly add the yast2 modules required to be installed and a quick run-down on how to use yast to enable this cap

[2021-01-24 14:32] 20design commented on #269
@FroggyFlox I will gladly help, so you would like to have a clearer description about Scrutiny scope? Can I quote documentation from the office help? Should I provide an example of the config I use in Rockstor or you want an example of the config file for Scrutiny?
Also, should I put this info in the "Additional information" of the Rockon or the description?

[2021-01-25 19:19] FroggyFlox commented on #269
Hi @20design, and thanks a lot for offering your help!

The intent of these write-ups is mostly to document and illustrate their installation as well as featuring their feature(s) briefly. You can have a look at the most recent one we merged, for instance (#266):
http://rockstor.com/docs/docker-based-rock-ons/netdata_official.html#netdata-official-rock-on

As you can see these usually make use of

[2021-01-27 07:25] 20design commented on #269
Alright, I understand now. I am unfortunately unfamiliar with sphinx, but will give it a shot.
Hopefully by the weekend I'll have something :-)

[2021-02-01 09:14] 20design commented on #269
Hi @FroggyFlox I didn't finish the document this weekend, but still busy on it.
Regarding the contribution, should I follow this procedure: http://rockstor.com/docs/contribute_documentation.html#making-changes or I can fork the doc repo and send a pull request?

[2021-02-01 13:26] FroggyFlox commented on #269
Hi @20design, no worries!

The procedure detailed in our documentation (to which you linked), essentially describes the command line way to make changes **after** you have forked and cloned the *rockstor-doc* repo locally so I would answer your question with: yes to both.

If you look at the first part of the document to which you linked, you'll see that we describe how to fork and clone the repo

[2021-02-14 20:23] 20design commented on #269
Hi @FroggyFlox, I have finally done this write-up. Let me know if something must be changed or done differently.

[2021-02-14 20:31] 20design opened #272 "Add documentation for using Sphinx Docker container to make html"
Hello, I propose to add in the documentation how to build HTML using Sphinx docker container: https://github.com/sphinx-doc/docker

[2021-02-15 11:16] phillxnet commented on #272
@20design This is a great idea. Thanks for opening this issue.

[2021-02-15 15:25] FroggyFlox commented on #272
@20design , thanks a lot, that is a great idea indeed!
@phillxnet , I wonder if we could take advantage of that to trigger some Github Action to test build new PR for rockstor-doc as a result; I would assume triggering a docker container is supported by that.

[2021-02-15 16:19] 20design commented on #272
Hi @FroggyFlox the base image of docker-sphinx doesn't contain the `sphinxcontrib-fulltoc` so it must be built. This is supported by Github actions AFAIK, but maybe the image should be published on Docker-hub to avoid building it at each commit? I don't know if it's free or not :-)

[2021-02-15 16:25] FroggyFlox commented on #272
Thanks for the clarification.

If running it in a docker container works well, we might want to create our own Dockerfile (basically the one you described in #273) in a separate *rockstor-docker-sphinx* (or better name) that will be used for automatically building the docker image that will be published on Docker Hub and/or Github container registry. I haven't looked at either registry's policies/

[2021-04-15 12:14] FroggyFlox opened #274 "Document how to update rock-ons"
How to update a given rock-on is a common question on our forum (as illustrated by https://forum.rockstor.com/t/rockons-app-update/3454).
Although some projects provide a way to update within the webUI or through a container restart, all rock-ons should support the "docker-way":
1. pull new image
2. stop container
3. remove container
4. re-create container
5. start container

Using Rockstor, this

[2021-04-18 19:34] #269 closed

[2021-04-22 18:46] #272 closed

[2021-05-28 18:20] phillxnet opened #275 "Add section to address importing a poorly pool"
Thanks to forum member musugru for helping to highlight this documentation short-fall. In some cases, such as disaster recovery, it is useful to be able to import poorly pools, such as those that will only mount ro, into a fresh install. Currently as of Rockstor 4.0.7 'Built on openSUSE' there is not custom mount option capability for the initial import.

The current work-around for this scenario,

[2021-06-26 13:47] phillxnet opened #276 "Force delete of a Rock-on"
We have in place, for some time now, a command line script that does a force delete of a Rock-on by name via the command line:
[code]
Although there are plans to integrate this forced/emergency rock-on removal method into our Web-UI, say via an advanced option / link possibly exposed after a set period of Rock-on transition post expected completion; or just in an advanced menu somewhere, it would

[2021-06-26 13:57] phillxnet commented on #276
An example explanation of this facilities use is available in the following forum post:
https://forum.rockstor.com/t/how-to-fresh-reinstall-openvpn-rock-ons/4270/4

[2021-06-26 21:21] FroggyFlox commented on #202
Hi @phillxnet,

I've been itching to give a try at this issue for a while now and I've finally bitten the bullet. I've created a test PR in my fork to illustrate what I could get using Github Actions:
- the pull request in question can be found at: https://github.com/FroggyFlox/rockstor-doc/pull/4
- the included checks are at: https://github.com/FroggyFlox/rockstor-doc/pull/4/checks

Upon **the cr

[2021-06-26 21:32] phillxnet commented on #202
@FroggyFlox This is great, well done.

No, we are likely going to have to continue to resource our own internal build system for this final rendering check. It was probably a little bit of a reach anyway given the priviledges that would be required. I was hoping however that the actions might enable some kind of temporary web server hosting arrangement to test basic sites. Maybe in time this will

[2021-06-26 21:39] FroggyFlox commented on #202
Thanks...

re your first point, I actually just realized there might be an option to manually trigger, and even restrict that to users with right access. See my edit above:

The question of temporary web server hosting remains opened, though... Maybe the Github pages? There seems to be a lot of available actions made just for that.

[2021-06-26 23:56] FroggyFlox opened #278 "Broken links"
Due to some changes, we now have a couple of *true* broken links, as well as a few links that trip sphinx's `make linkcheck` that we probably should ignore.

### True broken links
[code]

### Others
The following are reported as *broken* by sphinx's `make linkcheck`, but work upon user click or are simply "placeholder" urls:
[code]

The latter "errors" could probably be resolved by ignoring these

[2021-06-27 10:22] phillxnet commented on #202
@FroggyFlox Given my comments elsewhere it may be that this issue is now defunct, especially given it's now misleading reference to circleci etc. And the consequent mission creep (me again). So feel free to close and re-open a more focused issue on your current work which would help with clarity anyway. I.e. Github action to sanity check sphinx build or the like.

[2021-06-27 12:16] FroggyFlox opened #279 "No automated sphinx checks on pull request"
As originally described in #202 , we do not currently have an automated solution to run basic checks on a pull request (PR) to determine whether it still builds, for instance. Running such automation would provide all PR authors with a clear confirmation that no breaking change is included in their work.

*Sphinx* currently has two builders that could be useful for us:
- `make html`: used to build

[2021-06-27 12:54] #279 closed

[2021-06-27 13:06] FroggyFlox commented on #278
@phillxnet , one of these problematic links would require some feedback:

Indeed, the problem with this one (reported by `make linkcheck`) is related to the SSL certificate and thus the user would have to bypass it to access the page:
![image](https://user-images.githubusercontent.com/30297881/123545570-b0362680-d726-11eb-843a-5032c9e74fa9.png)

Although we could ignore this link to get a clean `m

[2021-06-27 13:21] phillxnet commented on #278
@FroggyFlox Agreed. Lets use the alternative link.
Nice find. I didn't know `make linkcheck` could do this ;).

Not keen on adding any link check bypasses/white-lists if we can help it. They may be seen as a fix-all for any other links with non apparent obvious issues in the future.

[2021-06-27 13:26] FroggyFlox commented on #278
Sounds good, I'll replace the link, then.

Agreed... That ignore list is intended for links that cannot be successfully checked, such as API etc... In our case, we could use it for one of the problematic links:

... as it isn't a real link; although one could argue that we shouldn't actually present this as a link as clicking on it will inevitably lead to error... might be better suited for a `cod

[2021-07-06 13:52] #278 closed

[2021-07-06 14:10] phillxnet opened #283 "replace all intra doc links with internal links - rst format"
Further to @FroggyFlox's recent audit of our links, we have some outstanding URL's within the docs that are external links to our production 'self'. This is inconsistent and circumvents embedded spinx link checks/creation and leads to redundant arbitrary checks of the published docs. Given sphinx auto-generates internal links to be relative we can thus completely avoid these unnecessarily hard cod

[2021-07-06 23:51] FroggyFlox commented on #283
After a quick search for the `rockstor.com/docs` string in the repo, I could only see 2 instances:
- `home_nas_guide.rst`
- `afp/apple_filing_protocol.rst`
The latter is actually part of a `.. raw:: html` block, so the full html link is actually needed and we can't use internal ref links.

Let me know if you spotted other ones.

[2021-07-07 11:29] FroggyFlox opened #284 "Table of contents is sub-optimal"
It seems our documentation has grown substantially over the years and led to an overcrowded table of contents. While all the information is available, it might not be presented in the best possible way from a user perspective. Indeed, the table of contents currently include **34 items** which seems too many for a user to quickly find the desired information.
We also have a few instances of duplica

[2021-07-07 12:22] phillxnet commented on #283
@FroggyFlox Thanks for taking a look at this. I'd not realised there was now only one remaining. I created this issue after noticing that I'd missed at least one of these in my review of your doc links work pr:

Fix broken links (#278) #282

And rather than have another round of review on the same pr where your focus was no this element of links anyway I just bashed out this issue to catch what I'

[2021-07-07 12:34] phillxnet commented on #284
@FroggyFlox Re:

Definitely. I've thought this myself actually but not gotten around to the issue creation / wording.

An example of an almost completely useless entry: https://rockstor.com/docs/benchmarks.html Otherwise taking up / fogging the top level of navigation. Another that has received zero feedback, at least in my time as maintainer is: https://rockstor.com/docs/analytics.html Again prio

[2021-07-07 12:35] FroggyFlox commented on #283
No worries, @phillxnet, I'm glad there's only that one; it'll make for a quick and simple fix.

[2021-07-07 12:37] FroggyFlox commented on #284
That's an interesting idea/thought. I haven't looked at why we need it, but if we could do without it, it would allow us to not rely on any additional "plugin" and **only** use the `sphinx` package; always good to trim down our dependencies.

[2021-07-07 12:55] phillxnet commented on #284
@FroggyFlox

Exactly. We ran into an issue a little while back, where our YouTube plugin fell out of repair and one had to install it directly from a pr branch on the unmaintained GitHub repo when using Python 3 I think it was. Anyway in the move to zero cookies on the docs I ended up stripping that out and replacing all YouTube embeds with links. Less fancy but bar easier to maintain. And the sim

[2021-07-10 13:39] FroggyFlox opened #285 "Mixed HTTP and HTTPS content blocked prevents loading of font"
When loading any page, I noticed a discrepancy in font used between the production server (rockstor.com/docs) and a local server (using `python -m http.server`).

The Firefox web developer tool reports:
[code]

The Vivaldi (Chrome) web developper tool reports:
[code]

[2021-07-10 13:42] FroggyFlox commented on #285
@phillxnet , while `http://use.edgefonts.net/source-sans-pro.js` seems to be a valid solution, I wonder if we actually need that remote call to this script. I'll try to see if I can figure out why we need it and what are our alternatives as I feel it would be better *not* to rely on a remote script like that.

[2021-07-10 14:35] FroggyFlox commented on #285
This is a novel area for me so I had to go back to basics ;-).

EdgeFonts is a web font provider by Adobe, and is now [Adobe Fonts](https://fonts.adobe.com/). This one unfortunately now requires a subscription, it seems. According to Mozilla's documentation on web fonts, they do refer to Google Fonts as being the only one not requiring a subscription and remaining free (emphasis mine):

[https://d

[2021-07-10 17:11] phillxnet commented on #285
@FroggyFlox Nice find. Much like the one I addressed recently on the website:

https://github.com/rockstor/rockstor-website/pull/13

Where I simply removed the googleapis import in our css (http that time) as we seemed to be fine without it entirely. There was an https as you have suggested but I keen to not have google references if we can help it.

And given the call fails with our online / prod

[2021-07-11 13:41] FroggyFlox commented on #284
@phillxnet, I've had a better look at this and I think it would be beneficial for the user/reader and for simplifying the main table of contents to follow the Rockstor user interface to group most of the content that is currently describing the user interface anyway. The rest would be grouped when possible, or moved to a more appropriate section. A tentative table of contents would thus be:
[code]

[2021-07-11 13:49] FroggyFlox commented on #285
Agreed, we do not _need_ to use an external font like `source sans pro`. We currently have the following:
[code]
... which uses `sans-serif` as alternative if `source-sans-pro` cannot be found, explaining why we're rendering ok. It's not as neat as `source-sans-pro` in my opinion, but I would see it as a detail. This is just my opinion, though.

To summarize, I agree that we can "simply" remove th

[2021-07-11 14:56] phillxnet commented on #284
@FroggyFlox This looks like a major improvement. Things have definitely gotten out of hand on this front.

In establishing a partial parallel between Web-UI and docs, structure wise, shouldn't the NUT page be inside services. Or if that is getting a little deep, and assuming services is just about services. We put NUT under system.

Nice idea this. Also it looks like, with all these new sections.

[2021-07-12 00:53] FroggyFlox commented on #284
Agreed... That's how I listed it at first but then I thought it may deserve its own section as its documentation is very detailed and it represents a nice feature to highlight. I was thus thinking of leaving the UPS/NUT description in *Services* rather simple but referring to the detailed UPS/NUT existing page.

Good point, and a good goal to keep in mind in our upcoming improvements to the docume

[2021-07-12 04:03] FroggyFlox commented on #284
I was curious so I had a little try with the `sphinxext.rediraffe` extension; it seems to work rather well! Here's what I did:

1. install it with `pip install sphinxext-rediraffe`
2. edit `conf.py`:
[code]
3. Create the file `redirects.txt`
4. Move `update_channels/update_channels.rst` to `System/software_update.rst`
5. Run the automatic diifcheck write builder: `sphinx-build -b rediraffewritedif

[2021-07-12 13:56] phillxnet commented on #284
@FroggyFlox Re:

OK, that works. And I'm OK with that. Just trying to get stuff out from top level. But UPS was put in the top level initially, by me, as I also thought it was a key feature. Interestingly enough it was a feature/capability I added to Rockstor in my early days as I had a few months earlier ruled out using Rockstor as it had no Web-UI UPS / NUT configuration. I ended up returned a f

[2021-07-13 12:55] #283 closed

[2021-07-13 16:58] FroggyFlox commented on #284
Sounds good; I'll do that, then.

I agree that relying on an extension does add a layer that can fail, but the more I think about it, the more I think it's worth it in this case as it removes the fragility we currently have with regards to broken links (especially considering we currently do not have a good way to automatically check for that in our other repos). I'm thus a bit more kin to give it

[2021-07-13 20:42] TheTripleV commented on #284
If there are concerns about the pip version of sphinxext-rediraffe, you may consider pinning it's version. Additionally, it is also available through conda.

[2021-07-17 22:24] FroggyFlox commented on #284
@phillxnet, small "detail" question:
What would you prefer with regards to indentation for our `.rst` files?

As of now, we have a mix of 2, 3 spaces (so far, at least). As I'm reorganizing a lot of files, I figured I might as well take care of that too (in its own separate commit as we do for `black` in rockstor-core).

[2021-07-18 18:14] phillxnet commented on #284
@FroggyFlox Re spaces I would go for 2 spaces for our 'unit'. It's like we use in the html of our code repos. The sets of 3 were not intended by me but our docs have now many contributors and quite the vintage. But it's your call if you are to set about it.

So in short I vote for 2 spaces, but go with what you think and I'm happy to go with your decision on that going forward.

[2021-07-18 18:38] FroggyFlox commented on #284
Thanks for the input, @phillxnet; I personally see 3 spaces as rather odd so I'm OK to go with 2 spaces throughout.

I now have moved everything around to get a cleaner top-level tree:
![image](https://user-images.githubusercontent.com/30297881/126078557-f90eea79-1c75-4d20-8fdf-b72f98a90bf0.png)

I do need to fight/figure out the left navbar menu (made by `fulltoc`) as it's not the way I would lik

[2021-07-18 19:09] phillxnet opened #287 "Add instructions for non DHCP networks re install"
Thanks to forum member greg for highlighting this issue. When installing Rockstor 4 on a network without a DHCP facility the resulting install is inaccessible. It is proposed that we add a note to the Rockstor 4 installer doc to indicate that the preferred approach to resolve this is to use Network Managers command line tool:
[code]
An example of it's full use would be helpful here so folks can cu

[2021-07-18 19:47] phillxnet commented on #284
@FroggyFlox Nice.

[2021-07-20 19:07] FroggyFlox commented on #284
@phillxnet ,

I've noticed that some of the images we have in the repo are no longer used, for instance:

- cli.png
- clone_share.gif

As these seem to be older files, I suppose they have been replaced by newer ones or simply deprecated. Would you prefer us to keep them around or simply delete them from the repo?

[2021-07-20 21:44] phillxnet commented on #284
@FroggyFlox Re:

I say we delete them. If they turn out to be of interest in the future we can always retrieve them from an earlier git checkout.
Nice find. Thanks.

[2021-07-23 20:25] FroggyFlox opened #288 "Styles for admonitions are not defined"
Some of the Sphinx directives that we used, such as `.. note::` and `.. warning::` are not defined in our CSS stylesheets and thus result in "bare" text without proper style applied to it. See below for an example of a `.. note::` directive:
![image](https://user-images.githubusercontent.com/30297881/126836642-68755109-6921-4f23-85e6-646e55929f78.png)

To get appropriate style, we currently have t

[2021-07-23 20:27] FroggyFlox commented on #288
@phillxnet, if you agree with this proposition, I already have a few bits written related to that while working on #284 so feel free to assign me to this issue if you'd like.

[2021-07-24 12:24] FroggyFlox commented on #284
I think I now have a working solution for the TOC that does **not** require the `sphinxcontrib-fulltoc` extension. See below for an illustration.

![image](https://user-images.githubusercontent.com/30297881/126868158-8a33d853-1087-4fb8-bfb9-78b578c851d7.png)

[2021-07-24 13:20] FroggyFlox opened #289 "Search results don't display matched contents"
A search will correctly list the page(s) with a result, but the matched contents will not be displayed. For instance, note the three dots in the screenshot below:
![image](https://user-images.githubusercontent.com/30297881/126869504-5f563ff3-8e2d-4976-b501-9b4eee4180ba.png)

The developer console explains what happens:
[code]
from:
[code]

We can thus see that we're missing this `role=main` compon

[2021-07-24 18:45] phillxnet commented on #288
@FroggyFlox Yet another nice find. Well done. Assigning gladly as requested.
Thanks.

[2021-07-24 18:51] phillxnet commented on #289
@FroggyFlox Fancy that. Well done.

Apologies for missing this myself. And thanks for the contextual links.

[2021-07-24 23:09] FroggyFlox commented on #284
As can be seen in 5c266f5, I gave `rediraffe` a real-world test and learned something important: one needs to write the redirections before making any change to the files. Luckily, rediraffe has an option to deal with that so I could still use it to detect all changes in files and create redirections for it; all files except ~3 that weren't detected but still listed as needing to be manually updat

[2021-07-27 09:05] phillxnet opened #291 "Update "detached disk" section re exclamation mark"
Thanks to forum member papaskitch for highlighting this omission. The current disk section is out of date with regard to modern disk removal procedure (exclamation mark) for devices currently associated with a pool. It is proposed that we update this section to include the new step required for removing currently pool associated detached disks via the "!" icon which then frees them from their pool

[2021-07-27 11:22] phillxnet commented on #268
N.B. we should also add a zypper equivalent to our:
[code]
Found in the (restructured) location: docs/installation/install.html
i.e.
[code]

[2021-07-27 11:32] phillxnet opened #292 "Add internal links from features overview to respective sections"
Post #290 we should link from, for example, the introduction -> features -> smart section to our dedicated how-to on smart.

e.g.
docs/introduction/features.html#s-m-a-r-t-drive-monitoring
to:
docs/howtos/smart.html

[2021-07-27 11:41] phillxnet opened #293 "Indicate no auto update option in Rockstor 4 Web-UI"
Currently we have no auto update option intergrated into our Web-UI for Rockstor 4. Indicate this within the following post #290 pr merge section:
docs/interface/system/update_channels.html#auto-updates

A link or section explaining the yast2 alternative might be good here. I.e. packages required and how to invoke this capability via ncurses yast2 interface.

[2021-07-27 11:53] phillxnet opened #294 "4th plus depth of navigation lost in overview"
Post #290 we struggle to locate the current doc view in our overview table of contents. An example, possibly the only one, is in:

docs/interface/system/identity/users.html#users-view

It may not be practical but would be desirable if we could maintain an indication of where this location resides overall in the docs. This is thought to be down to our limit of overview expansion to 3: i.e. top, sec

[2021-07-27 12:04] phillxnet opened #295 "remove beta status of UPS/NUT etc support"
In our dedicated UPS section docs/ups-setup/ups_setup.html we still have the following in bold:

Given we have now had this capability for some time and it has undergone a couple of minor bug fixes with no recent reports of issues, it is proposed that we now remove this beta status. Numerous forum reports have been submitted that have not gone on to indicate any issues and of late we have 'heard n

[2021-07-27 12:06] phillxnet commented on #295
Note also that we have this same beta status flagged for UPS in our features table visible (post #290) on our landing page:

docs/

[2021-07-27 12:08] phillxnet commented on #295
There are various other beta labels applied to similarly well established and field tested mechanisms mentioned in this same table. Hence I have extended this issues scope to address these similarly.

[2021-07-27 12:19] FroggyFlox commented on #294
@phillxnet , with regards to:

This one is my own doing, as I set a max depth for our TOC in the left sidebar to 3 in #290. Our current style is not ready for more than 3 levels in my opinion, so that's why I limited it at 3.
I was planning on addressing this style issue in a future issue/PR, but it seems you just beat me to it with this current issue ;-) . We, for instance, have a 40 px padding f

[2021-07-27 12:45] #284 closed

[2021-07-27 15:41] phillxnet commented on #268
I am currently working on this issue.

[2021-07-27 16:55] phillxnet opened #296 "update doc contribution page re sphinxext-rediraffe"
We no longer required the use of the sphinxcontrib-fulltoc but do now required sphinxext-rediraffe as from the merge of #290.

It is proposed that all we need, at a minimum, is to substitute our existing:
[code]
for
[code]
Along with the necessary changes to the docker based instructins.

N.B. for reference on Python version compatibility we have: https://pypi.org/project/sphinxext-rediraffe/
wher

[2021-07-30 13:54] #285 closed

[2021-07-31 16:02] phillxnet opened #299 "Rationalise "Upgrading Rockstor" section - install.rst"
Post pr #298 we have an overly wordy and slightly confusing wall of text regarding our admittedly confusing update options. Break this down into clear non-wordy options clearly expressed via list a list / sub-sections or the like. Note also that we should probably link to our Channels section earlier, rather than later, and rename the "Upgrading Rockstor" section to "Updating Rockstor", or similar

[2021-07-31 16:30] #268 closed

[2021-07-31 17:17] phillxnet opened #300 "Update FAQ Rockstor 4 repositories section"
As per the comment in pull request #298 https://github.com/rockstor/rockstor-doc/pull/298#issuecomment-890133573, our Leap 15.3 profiles have implicitly added repos that are not explicitly defined in our kiwi-ng. It is proposed that this new FAQ section is updated to include these implicit repos and their origin. Copied from the comment we have:
[code]
From a recent Leap 15.3 profile installer bui

[2021-07-31 17:20] phillxnet commented on #295
I am currently working on this issue.

[2021-08-01 13:41] #295 closed

[2021-08-01 16:38] #289 closed

[2021-08-11 12:42] b8two commented on #241
Hi Philxnet,

I think that USB2.0 interface is also the limitaiton regarding USB type installation.
Hence requirements should include USB 3.0+

[2021-08-11 17:57] phillxnet commented on #241
@b8two First off, thanks for chipping in on this issue. Much appreciated.

Can you confirm that your experience with even fast USB 3.0 keys used in USB 2.0 ports resulted in timeouts? From a quick re-read of your linked forum post this does seem to be the case. I've used that config myself quite a bit but only really with test machines that really didn't have much work to do anyway. So It may be t

[2021-08-20 13:18] phillxnet opened #304 "Change recommended new installs to 4.0.8-0"
As per rockstor-installer issue:
"Update default version to 4.0.8-0 ...":https://github.com/rockstor/rockstor-installer/issues/77
we should harmonise our web site download page text similarly.

[2021-08-20 13:18] phillxnet commented on #304
I am currently working on this issue.

[2021-08-20 13:19] phillxnet commented on #304
Sorry wrong repo !!

[2021-08-20 13:19] #304 closed

[2021-08-20 14:17] #288 closed

[2021-08-29 14:52] FroggyFlox commented on #294
I've now finally found some time to give that one a try and I opted for a simple fix that I had in mind for a little while. Indeed, the reason I limited the max depth for our sidebar toc to 3 was due to the relatively high `padding-left` we had in our style for **each** depth of our toc. For a level 4, for instance, this means we have 3 x 20 px = 60 px. As our titles are not that brief (maybe shou

[2021-08-29 19:16] phillxnet commented on #294
@FroggyFlox Well done, that's much better. Nice.

[2021-08-29 20:05] FroggyFlox commented on #294
@phillxnet , I couldn't set on the best way to emphasize the current entry in the toc, so I settled with a simple bold font weight for the moment:
![image](https://user-images.githubusercontent.com/30297881/131263878-3bd55aec-43d3-4226-be8c-937f91805a79.png)

It's not the best but maybe we should use that for the moment until we get a proper "revamp" of our TOC if we were to better display the cur

[2021-08-29 20:22] phillxnet commented on #294
@FroggyFlox I think that's just find. As you say it works for now and keeps things simple so lets go with that.
Thanks.

[2021-08-29 20:23] FroggyFlox commented on #294
Sounds good... a PR will follow soon, then.

[2021-08-31 11:36] #294 closed

[2021-09-04 15:29] FroggyFlox commented on #296
I had a look at this and I believe we could benefit from re-arranging the content in a way that would be more clear and help the reader find the information they need quickly. As an illustration, here's our current structure:

1. Making changes
1.1 Installing Sphinx
1.2 Using Sphinx as a Docker container
1.3 Generating html files

This structure is unfortunately not the most helpful (and sub-optim

[2021-09-04 18:15] phillxnet commented on #296
@FroggyFlox

I think that's an excellent idea. The clearer and cleaner we can make things the better all around. We have only really tweaked this section for some time now, it has gotten a little flabby.

We might also consider including our proposed, and in need of sphinxext-rediraffe addition, Dockerfile within the repo itself. That way we can reference it's use directly from the cloned repo. Av

[2021-09-04 23:08] FroggyFlox commented on #296
Sounds good, I'll go ahead with that plan, then.

That's a good idea too. It should be fairly simple so we might as well implement that now. I believe we should be able to put that Dockerfile in a `./docker/` subdirectory in the root of this repo... or we could create a repo just for that but that seems overkill. We could also host it in the Github container registry ([Github packages](https://doc

[2021-09-05 09:51] phillxnet commented on #296
@FroggyFlox
Re:

That sounds like the way to go.

Agreed this would be overkill.

That would be great, thanks.

[2021-09-12 18:16] FroggyFlox commented on #296
@phillxnet,
As discussed above, I tried to create a docker image and publish it to the Github container registry and it went rather smoothly. I created a dedicated test repo (I will delete it once I'm done with it) for it and it seems to work well. To build the docs, for instance, one simply has to run:
[code]
Of course, the final one will have a better name, which I believe we should be able to s

[2021-09-12 19:14] phillxnet commented on #296
@FroggyFlox  Well done. This sounds just the ticket.
Thanks for looking into and testing this docker arrangement. Looking forward to the pull request.

[2021-09-14 20:43] FroggyFlox commented on #296
It actually seems more straightforward than I thought and I now have adapted the Github workflow to create a multiarch image (compatible with both amd64 and arm64). I haven't time to test it on arm64 yet, but the amd64 one seems to work fine. Not an essential feature but nice to have!

[2021-09-15 01:53] FroggyFlox commented on #296
As usual, I spoke too soon as even though the Github workflow completed successfully and built an image said to be arm64-compatible, it was not working when testing it on a Raspberry Pi4. After a few trials and errors, I figured out that there was nothing wrong with the Github workflow, but that the problem lies with the fact that the `sphinxdoc/sphinx` image we used as a base (as per Sphinx's rec

[2021-09-15 12:53] phillxnet commented on #296
@FroggyFlox

Sound good. Also, good to know the sphinxdoc/sphinx image is not ARM64 compatible. Nice find. It might be worth a request for them to extend their architecture compatibility actually. More and more image maintainers are seeing to such things so they may well be receptive.

[2021-09-15 14:10] FroggyFlox commented on #296
Agreed... It crossed my mind but the Issue tracker is not enabled on the sphinxdoc/sphinx docker image Github repo so I'll try to see what is their preferred method of contact.

[2021-09-19 19:58] FroggyFlox opened #306 "The Sickbeard rock-on has been deprecated but is still listed in the docs"
Following https://github.com/rockstor/rockon-registry/pull/243, the Sickbeard Rock-on is deprecated. Yet, our documentation still lists it. As per `linkcheck`, the project's URL keeps throwing an error so we should unlist this Rock-on from our docs.
`linkcheck` reads:
[code]

The Rock-on is listed in `interface/overview.rst`.

[2021-09-20 14:11] #306 closed

[2021-09-20 14:35] #296 closed

[2021-09-20 16:31] phillxnet opened #309 "Remove all YouTube links"
Under prior maintainer-ship there was a YouTube channel "rockstorinc"; this fell into disrepair and has since been removed with the loss of it's entire library. There is still a "rockstor" YouTube channel but it is very sparsely populated and also in a state of neglect / maintainer-ship limbo.

It is proposed that we no longer depend on YouTube as feature videos are difficult to maintain and inevi

[2021-09-25 12:21] #292 closed

[2021-09-27 21:39] FroggyFlox commented on #202
@phillxnet, agreed on closing this issue as we are now using an alternative mechanism to do that. We can always open a new dedicated issue for your test deployment idea when/if we figure out a clean way to do so.
Hope it's ok with you; feel free to re-open if you prefer.

[2021-09-27 21:39] #202 closed

[2021-09-28 20:48] FroggyFlox opened #311 "the `align: center` setting is not respected for images"
We set the alignment for images using the `align: center` setting but this setting is not applied. For instance, the following block...
[code]
... results in:
![image](https://user-images.githubusercontent.com/30297881/135162351-fd2e176c-eec2-4494-a3e2-14ad59c06396.png)

Upon inspection of the related HTML block, we can see that the style was correctly applied:
[code]

What is missing is actually

[2021-09-30 01:07] #311 closed

[2021-10-01 15:32] FroggyFlox commented on #110
@phillxnet , I just had a look at what would need to be done for this as I agree with your idea of taking elements of `clients.rst` and integrate them into each service's page if they would improve things there.

We have 3 services: Samba, NFS, and SFTP.
We have 2 locations (currently): `clients.rst` and each service page.
We have 3 clients OS: Linux, MacOS, and Windows.

We should thus have docum

[2021-10-01 15:42] FroggyFlox commented on #5
@phillxnet, is this issue still valid?
`analytics.rst` was deleted in #284, for instance, and I don't know if the reference to NFS we currently have in `introduction/features.rst` is still relevant (I'm not sure I know what it refers to).

[2021-10-01 17:45] phillxnet commented on #110
@FroggyFlox Thanks for assessing our current state on this.

Agreed re proposal. I think it will all be a little more straight froward then. And having service and client in same area saves on bouncing around trying to get a config together.

I'm not really sure. I no longer have access to my prior dated instance of MacOS to check either.

For the NFS windows section I say we just link to a good g

[2021-10-01 17:57] phillxnet commented on #5
@FroggyFlox
I've never actually looked into this myself unfortunately. But wondered about it from time to time. I've had zero feedback on it's state/function so assumed it was either planned as a feature and never actually existed, or no one ever actually used it if it does exist. Sorry but it's just never come up either here, on the forum, or in support email. And given this, and that we've had n

[2021-10-01 19:18] FroggyFlox commented on #110
I'll try to find some time to see if mine is still in a usable state and whether it still is relevant as it's far from the most recent version. We can always leave it as a "Coming soon" or point to other resource to do it... it seems to be supported so there must be something along those lines.

Yeah... that's my thought as well. It seems Samba would be the recommended way over NFS anyway, so we c

[2021-10-01 19:21] FroggyFlox commented on #5
You seem to be describing exactly my impressions on this. I can't remember whether I saw such reference in rockstor's code itself so we can always see.

Sounds good. Do you think we should also remove the mention of this we have in the docs? It's mainly a small section in `introduction/features.rst` and then a mention of "Analytics" in one or two spots, I believe.

[2021-10-01 19:35] FroggyFlox commented on #203
@phillxnet , I'm going to close this one as it is now deprecated by #309.
I hope you're ok with it but feel free to re-open it if you prefer to keep it.

[2021-10-01 19:35] #203 closed

[2021-10-02 11:44] phillxnet commented on #5
@FroggyFlox Re:

I think we should establish if this feature actually exists. If so then it's existing doc reference could prompt someone to contribute and fill in the details. If it doesn't exist in code then we delete it's currently near empty reference within the docs.

I.E. There has been no apparent interest in that area of code or docs so if no code then no docs is good. Otherwise we should

[2021-10-02 13:27] FroggyFlox commented on #293
Linking to #270 as it is a similar issue that would most likely be also fixed by fixing the current one.

[2021-10-03 15:08] FroggyFlox commented on #5
The following issue is of interest here and seems to indicate NFS analytics are indeed not-present (with the caveat that this is an old issue too):
https://github.com/rockstor/rockstor-doc/issues/137#issue-146450504

[2021-10-03 15:30] phillxnet commented on #5
@FroggyFlox Re:

Nice find. And that was after my own association with the project began so I think we are safe to assume this is a non existent feature :) . A good reminder that doc entries should follow features; not the other way around. A doc entry does not a feature make, even if it's just a 'place-holder'.

[2021-10-04 13:13] #299 closed

[2021-10-04 13:34] #258 closed

[2021-10-10 19:23] FroggyFlox commented on #276
I'm currently working on this issue.

I was thinking of doing the following: at the end of the Rock-ons overview page, include a new section entitled "Uninstalling a Rock-on". In this section, describe how to uninstall a Rock-on through the web-UI, emphasizing the following points:

- Ease of doing so: click the button, confirm, and that's it.
- Uninstalling a Rock-on will remove its related datab

[2021-10-15 15:13] phillxnet opened #315 "Remove discourse Rock-on write-up"
As our existing discourse Rock-on is no longer functional, due to upstream changes introducing additional complexities in it's required image 'treatment', we should now remove our associated doc entry.

Linking to the related/dependant rockon-registry issue:
https://github.com/rockstor/rockon-registry/issues/185
and the meta issue for Rock-on revisions:
https://github.com/rockstor/rockon-registry/

[2021-11-07 13:07] phillxnet opened #316 "Update v4 installer howto re new EULA page"
We have recently integrated our prior 'free standing' eula.html into our main, now Hugo generated website. See:
https://github.com/rockstor/rockstor-website/pull/26

It is proposed that we update the following documentation page:
https://rockstor.com/docs/installation/installer-howto.html
to include a new screen grab to show the new eula.html as this is more reassuringly Rockstor's own and contain

[2021-11-18 15:02] RlndVt opened #318 "Update Bitwarden_rs refernces to Vaultwarden"
The Bitwarden_rs project has been renamed to Vaultwarden. References and links to said project need to be updated.

Fixed by #317

[2021-11-18 19:30] phillxnet opened #319 "Update "Developers" section re recent build changes"
Due to a change/update in authentication mechanism re pypi we have had to alter our build procedure a little. Mainly due to our use of a now outdated python 2 based build system. See: https://github.com/rockstor/rockstor-core/issues/1877

Previously we setup and executed our source build by:
[code]

This was affected by staggered brown outages intended to inform those using older build systems suc

[2021-11-18 19:55] FroggyFlox commented on #319
Thanks a lot, @phillxnet !
Note that from memory I believe we use `zc.sourcerelease` only for rpm building and is not needed for `buildout.cfg`.

[2021-11-19 11:49] phillxnet commented on #319
@FroggyFlox Thanks, editing accordingly.

[2021-11-20 17:48] phillxnet commented on #319
I am currently working in this issue.

[2021-11-20 19:21] phillxnet opened #320 "Move Download button aesthetic to regular Downloads menu item"
In line with the cosmetic change in our main website recently under: https://github.com/rockstor/rockstor-website/pull/22
we have now dropped the 'button' asthetic for the bootstrap menu "Downloads" item.

It is proposed that we do the same within our independent docs menu entry.

[2021-11-22 17:18] #319 closed

[2021-11-22 18:26] phillxnet opened #322 "Add running tests to developer contribution section"
Although we now have a fully update source build and basic functional test guide in contribute.rst via now merged:
#321
We do not have any mention or guide on running our build-in unit tests.

It is proposed that we add a testing section to our "Build VM initial setup"  so that we have a new 3. entry:

1. configure
2. build
3. test

And move the existing text concerning manual testing into this pr

[2021-11-22 18:36] phillxnet commented on #309
From: :code:`grep -R "YouTube" *` we have:

- [ ] howtos/windows-shadow-copy.rst:See YouTube `Rockstor shadow copy support part 1 of 3 <https://www.youtube.com/watch?v=XAe8OlO3O38>`_.
- [ ] howtos/windows-shadow-copy.rst:See YouTube `Rockstor shadow copy support part 2 of 3 <https://www.youtube.com/watch?v=kh4O11x5vy8>`_.
- [ ] howtos/windows-shadow-copy.rst:See YouTube `Rockstor shadow copy suppo

[2021-11-22 19:02] phillxnet commented on #309
The following still exist but given our stated goal they are also to be removed from the docs:

See YouTube `Creating a Pool <https://www.youtube.com/watch?v=T5sg8xSoH1E>`_.
See YouTube `Change Pool's RAID profile <https://www.youtube.com/watch?v=DouOx8gX5yE>`_.
See YouTube `Adding disks to a Pool <https://www.youtube.com/watch?v=E37rzWcwGu0>`_.
See YouTube `Removing disks from a Pool <https://www

[2021-11-22 19:30] #309 closed

[2021-11-22 23:24] FroggyFlox commented on #322
Excellent idea, I didn't even notice we didn't have that already.

[2021-11-23 18:08] phillxnet commented on #315
I am currently working on this issue.

[2021-11-23 18:39] #315 closed

[2021-11-23 18:53] phillxnet commented on #247
Noting as detailed in #300 we also have some additional repos added for upstream updates in Leap 15.3 profiles.

[2021-11-23 18:54] phillxnet commented on #300
linking back to related issue re OBS repos:
#247

[2021-11-24 02:21] FroggyFlox commented on #274
Thinking these exceptions might be those Rock-ons using a specified "tag" other than latest, let's look at the following:
[code]

We can thus see that the exceptions are:
LogitechSqueezebox-7.9.4.json:                  "tag":"latest-7.9.4",
postgres-9.5.json:        "tag": "9.5.21",
postgres-10.6.json:                "tag": "10.6",
youtrack-official.json:                "tag": "2019.2.58831",

We

[2021-11-25 12:55] phillxnet commented on #241
I am currently working on this issue.

[2021-11-25 16:05] phillxnet commented on #320
I am currently working on this issue.

[2021-11-25 16:24] phillxnet commented on #250
I am currently working on this issue.

[2021-11-25 16:27] #274 closed

[2021-11-25 16:27] #276 closed

[2021-11-25 16:38] #241 closed

[2021-11-25 16:43] #320 closed

[2021-11-25 16:48] phillxnet commented on #250
[code]

[2021-11-25 16:50] phillxnet commented on #250
[code]

[2021-11-25 18:37] phillxnet commented on #300
This issue is awaiting the review and hopefully subsequent merge of pr #328

[2021-11-25 19:41] #250 closed

[2021-11-26 12:57] phillxnet commented on #300
I am currently working on this issue.

[2021-11-26 16:01] phillxnet opened #329 "Remove now outdated testing channel caveat"
We have for some time now restarted our testing channel updates, but only for our v4 variant, post build blockers on from our Legacy 3.9.2-57 stable releases. So the following caveat:

Is now redundant and miss-leading.

It is proposed that this paragraph be removed.

[2021-11-26 16:39] phillxnet commented on #247
In the pending #300 pr we have detailed those repositories  persisted by our installer and those added by upstream.

I am now working on this issue and intent to link to the existing FAQ entry given it will in-turn include the relevant info.

[2021-11-26 17:01] phillxnet commented on #316
I am currently working on this issue.

[2021-11-26 18:13] phillxnet commented on #293
I am currently working on this issue.

[2021-11-26 18:19] phillxnet commented on #293
Closing as
Duplicate of #270

[2021-11-26 18:19] #293 closed

[2021-11-26 18:20] phillxnet commented on #270
I am currently working on this issue.

[2021-11-27 14:21] #247 closed

[2021-11-27 14:23] #316 closed

[2021-11-27 14:26] #300 closed

[2021-11-27 14:29] #270 closed

[2021-11-27 14:44] phillxnet commented on #138
Closing as part of repo clean-up. No further community interest has been expressed.

[2021-11-27 14:44] #138 closed

[2021-11-27 14:45] phillxnet commented on #128
Closing as outdated.

[2021-11-27 14:45] #128 closed

[2021-11-27 14:46] phillxnet commented on #127
Closing as outdated.

[2021-11-27 14:46] #127 closed

[2021-11-27 14:47] phillxnet commented on #5
Closing as per recent discussion here.

[2021-11-27 14:47] #5 closed

[2021-11-27 14:48] phillxnet commented on #137
This has recently been accomplished under a number of recent updates.

Closing as addressed by recent doc's re-do.

[2021-11-27 14:48] #137 closed

[2021-11-27 14:50] phillxnet commented on #8
Closing as repo clean-up. @FroggyFlox we might want to open a new issue re your suggestion:

[2021-11-27 14:50] #8 closed

[2021-11-27 14:54] phillxnet commented on #34
This would be ideal but our current human resources are a little thin on the ground. Closing as part of repo clean-up.

We have had exactly one request for this in several years now so closing by way of repo clean-up. This would be ideal but our current resources deem it only a nice to have and likely added via interested parties.

[2021-11-27 14:54] #34 closed

[2021-11-27 14:56] phillxnet commented on #86
Closing as having received no further attention.

Nice idea but closing as part of repo clean-up.

[2021-11-27 14:56] #86 closed

[2021-11-27 14:58] phillxnet commented on #22
Addressed by our recent dev doc section update.

Closing as:
Fixed by #321

[2021-11-27 14:58] #22 closed

[2021-11-27 15:04] phillxnet commented on #37
Closing re no further attention and with reference to the improvements indicated by @schakrava  and those indicated in my last comment here 4 years ago.

N.B. we also now have Web-UI header warnings and 'wizards' re disk removal / degraded remount in-Web-UI for errors on or missing disk  scenarios.

Closing as part of a repo clean-up.

[2021-11-27 15:04] #37 closed

[2021-11-27 15:06] phillxnet commented on #89
Closing as out-of-date / mostly addressed re my last comment here.

[2021-11-27 15:06] #89 closed

[2021-11-27 15:08] phillxnet commented on #82
Closing as we have now had a re-do on the docs that includes this issue by @FroggyFlox

[2021-11-27 15:08] #82 closed

[2021-11-27 15:09] phillxnet commented on #84
Closing as now out-of-date.

[2021-11-27 15:09] #84 closed

[2021-11-27 15:09] phillxnet commented on #85
Closing as out-of-date.

[2021-11-27 15:09] #85 closed

[2021-11-27 15:10] phillxnet commented on #110
Closed by recent work by @FroggyFlox

[2021-11-27 15:12] phillxnet commented on #122
Closing as references a moving target. Requires more specificity.

Repo clean-up requried.

[2021-11-27 15:12] #122 closed

[2021-11-27 15:15] phillxnet commented on #126
Closing as already presented as per my last comment and has received no further requests / interest.

[2021-11-27 15:15] #126 closed

[2021-11-27 15:17] phillxnet commented on #161
We do not support non btrfs root or LVM in any way. Plus the relates to our now depricated v3 installer.

Closing as part of repo clean-up.

[2021-11-27 15:17] #161 closed

[2021-11-27 15:20] phillxnet commented on #201
Fixed by #321

Forum thread no updated as this was quite some time ago now.

[2021-11-27 15:20] #201 closed

[2021-11-27 17:28] phillxnet commented on #329
I am currently working on this issue.

[2021-11-27 17:30] #174 closed

[2021-11-27 17:49] FroggyFlox commented on #8
@phillxnet , thanks for taking care of this. I agree with you with regards to opening more focused issue(s). We actually have a couple pages in such case post #290 so I'll get to identify and list them in their separate issues.

[2021-11-27 17:57] #329 closed

[2021-11-28 12:58] #322 closed

[2021-11-28 14:19] phillxnet commented on #265
@FroggyFlox I certainly do believe this is a good idea. Apologies fro completely neglecting this issue. It just came up again in the forum actually.

Just stopping by to add a link to the core issue we have open on this:
https://github.com/rockstor/rockstor-core

Good point re not all subvols are included. I believe that the /var dir is also not included which is hand for us actually as that is ou

[2021-11-28 14:38] phillxnet commented on #275
Given we are now encountering many new installs that are importing prior potentially poorly pools this may well be a nice-to-have in the v4 stable milestone. Especially given 'poorly' is a far more wide ranging term, to our many years newer kernels in v4, than it was to our outdated 4.10/4.12 kernels in our prior v3 CentOS based offerings.

[2021-11-28 14:45] FroggyFlox commented on #265
Thanks for pointing to the rockstor-core issue: https://github.com/rockstor/rockstor-core/issues/2166

The full list of excluded dir is:
https://doc.opensuse.org/documentation/leap/reference/html/book-reference/cha-snapper.html#snapper-dir-excludes

- /boot/grub2/i386-pc, /boot/grub2/x86_64-efi, /boot/grub2/powerpc-ieee1275, /boot/grub2/s390x-emu
- /home
- /opt
- /srv
- /tmp
- /usr/local
- /var

[2021-11-30 12:01] phillxnet commented on #291
The exclamation mark appears next to a 'missing' disk: i.e one that has a Rockstor managed pool association. The exclamation mark links to our generic pool management 'wizard' where options such as re-raid / add, and in this case the more relevant remove options are accessible.

From the current docs point of view this is an additional first step in our "Detached Disk" section which currently indi

[2021-11-30 12:02] phillxnet commented on #291
I am currently working on this issue.

[2021-11-30 12:11] phillxnet commented on #291
Grey Map info icon: "Drive is a detached member of a Rockstor managed Pool" no link.
Orange Exclamation Mark: "Use linked Pool page Resize / ReRaid 'remove disks' option if no reattachment is planned."
![disk-exclamation-mark](https://user-images.githubusercontent.com/2521585/144044997-8d8dc4e7-5bda-4837-b3f3-1134d5b7f9de.png)

[2021-11-30 12:19] phillxnet commented on #291
Note that we already at least minimal coverage of disk removal (from pool) in our pools section and link to this in the existing disk section. So we need to link to this also in the above proposed new section.

[2021-11-30 20:13] phillxnet commented on #236
This issue is awaiting pr #337 as that makes major changes to the disk page we need to alter for this issue.

[2021-11-30 20:22] #291 closed

[2021-12-01 14:57] phillxnet commented on #236
I am currently working on this issue.

[2021-12-04 10:54] #236 closed

[2021-12-04 11:44] phillxnet commented on #275
I am currently working on this issue.

[2021-12-07 16:13] FroggyFlox opened #340 "Clarify use of rockons-root share"
As brought up by a forum user (https://forum.rockstor.com/t/clarification-re-pools-for-rock-ons/8122), the current explanation for setting up the rock-ons root share could be more clear.
It is proposed to improve that section to make the following points clear:
- The share to be used as rock-ons root can be named as desired
- The share to be used as rock-ons root can be on any pool (although recom

[2021-12-09 18:54] #275 closed

[2021-12-12 18:34] #340 closed

[2021-12-13 18:42] phillxnet opened #342 "Home Nas Guide How-to has redundant/misleading info"
Thanks to forum member Mike-B for point out our now very old and possibly redundant "Home Nas Guide" error re client access:

Mike points out that we have an abundance of "Mac" mentions here !

We might do better without this How-to or to edit it appropriately and likely reference our now existing centralised guides on client access.

Forum reference:
https://forum.rockstor.com/t/importing-loading

[2021-12-13 20:28] Hooverdan96 opened #343 "IP address-based access format for windows is incorrect in file sharing documentation"
In the documentation here:
https://rockstor.com/docs/interface/storage/file_sharing/samba_ops.html#how-to-access-a-share

The ip based access needs to contain 2 leading backslashes instead of the single one depicted in the documentation.
So, it should be `\\192.168.1.21` instead.

Reference to forum thread:
https://forum.rockstor.com/t/importing-loading-files-from-usb-fat-structured/8132/10?u=hoov

[2021-12-13 22:31] FroggyFlox commented on #110
@phillxnet, recent forum discussion reminded me of this issue... I think we might want to re-open it and actually work on it. I started looking at what would need to be done (see list of to-dos above), but had forgotten about it.

Let me know if you're ok with re-opening it.

[2021-12-13 23:32] phillxnet commented on #110
@FroggyFlox Reopened. Apologies I may have jumped the gun on this one. I had thought we were already there with you last major re-arrangement.

Agreed re forum thread. Thanks for the prompt/correction on this one.

[2021-12-13 23:34] phillxnet commented on #110
Added to our milestone but mainly to keep it in the for-front so we don't miss it again.

[2021-12-13 23:59] FroggyFlox commented on #110
Thanks! And no worries, I too didn't realize.

I agree with you on putting it on the V4 stable release milestone list as it is a critical part of the documentation in my opinion so it should be of high priority.

[2021-12-17 15:55] phillxnet opened #344 "Add section on installing Kernel_stable_Backport and filesystem repos to enhance raid levels"
Our current upstream has provisioned the parity raid levels as unsupported, rendering the btrfs raid 5/6 pool options as read only. If we simply enable rw access, via a kernel or the like, we are second guessing upstream and deviating in the process. It is proposed that we instead add documentation on how to install the OBS supplied Kernel_stable_Backport repo and the filesystems repo. This way we

[2021-12-17 16:17] phillxnet commented on #344
I am currently working on this issue.

[2021-12-17 18:34] phillxnet commented on #344
It looks like the most appropriate place to locate this guide is in the How-to section:

"Installing the Stable Backport kernel"
Reference: https://build.opensuse.org/project/show/Kernel:stable:Backport

[2021-12-17 19:43] FroggyFlox commented on #344
Agreed... Maybe we could link to it in a future PR from the "raid" section (Pools) when addressing the raid 5/6 situation.

[2021-12-17 19:53] phillxnet commented on #344
Agreed. I'll pop that in as I've had to add a target link (pool balance) to that page anyway. Plus if we hide this away in a how-to it may never be found by those wondering why their new parity raids are read-only.

[2021-12-17 20:19] phillxnet commented on #344
@FroggyFlox I've done the following so far:

![warning-re-56](https://user-images.githubusercontent.com/2521585/146602893-eaf8a862-6fb0-413a-88b6-5198896b4240.png)

Should have a pr for this issue done shortly.

[2021-12-17 20:45] FroggyFlox commented on #344
Looks great!

[2021-12-17 21:01] FroggyFlox commented on #343
This issue will probably be fixed by the same PR that will be submitted to fix #110. See comment below for further details:
https://github.com/rockstor/rockstor-doc/issues/110#issuecomment-932333333

[2021-12-17 21:09] FroggyFlox opened #345 "Add graphical instructions on how to access NFS shares from different clients"
Following-up discussion on https://github.com/rockstor/rockstor-doc/issues/110#issuecomment-932333333, we are currently lacking easy step-by-step graphical instructions on how to access NFS exports from clients. See below for details:

### NFS:

- Linux: nothing in `clients.rst`, nothing in service page: Add graphical instructions in service page.
- MacOS: nothing in `clients.rst`, nothing in serv

[2021-12-17 21:40] FroggyFlox commented on #110
To-do list:

- [ ] Update Samba service configuration docs in `services.rst` to include screenshot and further details on settings and options, for instance (linking to samba wiki for `smb.conf` options.
- [ ] Update creation of a Samba export with graphical instructions detailing user permissions, for instance, as well as the different options we offer during the creation of a Samba export.
- [ ]

[2021-12-18 08:22] #344 closed

[2021-12-18 19:13] FroggyFlox opened #347 "User/Group permissions settings are not documented"
We currently do not have a dedicated section to illustrate and detail how to set user/group permissions on a share, although we do have some Rock-ons writeups documenting the process.

Despite the fact that this feature is very self-explanatory in the web-UI, it would be greatly beneficial to have a dedicated section to which we could refer from other parts of the documentation that indeed direct

[2021-12-18 19:15] FroggyFlox commented on #347
@phillxnet , although I'm not an export on the matter, this issue has been creeping in my mind for a while and its resolution would greatly facilitate my current work on #110. I can thus get a PR out with at least the basics on the "Access control" tab of our webUI and we can always improve upon that later as needed. Would you be ok with that?

[2021-12-18 19:31] phillxnet commented on #347
@FroggyFlox

That would be great.

Also, as with some of my own doc pr's recently. If you need to merger and publish pre-review in order to reference / build-on, or what-ever then of course just go ahead. As long as they render OK via our buildbot local publish target first; as usual. If you could make a note that you are about to do that then it would help to avoid treading on each others toes.

[2021-12-18 19:58] FroggyFlox commented on #347
Sounds good, thanks!
I'll get to it, then.

[2021-12-21 14:09] #347 closed

[2021-12-22 19:57] phillxnet opened #349 "Update filesystems repo url in Stable Kernel Backport howto"
A recent change in repo location has taken place in the filesystems repo used in the Stable Kernel Backports howto recently added to our docs. We should update the repo adding instructions to include this new repo.

[2021-12-22 20:37] phillxnet commented on #349
I am currently working on this issue.

[2021-12-22 20:55] #349 closed

[2021-12-23 21:27] #110 closed

[2021-12-23 21:27] #343 closed

[2021-12-28 11:56] phillxnet opened #352 "Add howto on 15.2 to 15.3 base OS upgrade"
Thanks to @FroggyFlox for beginning this journey. We have what looks like a working method to zypper dup from our "Built on openSUSE" 15.2 variant to what is now our preferred 15.3 base: given openSUSE Leap 15.2 is now EOL. This method avoids the inevitable downgrade-to-upgrade by pre-adding the otherwise auto added SLES repos. Akin to our adding the same repos in our 15.3 installer profiles addre

[2021-12-28 13:38] phillxnet opened #353 "Update KVM guide to v4 "Build on openSUSE"."
Thanks to @FroggyFlox for highlighting that our KVM guide has v3 screenshots. Our installer is now very different and it would be less confusing to simply update this reference to relate to our v4 offering given the deprication of v3 (CentOS based). It is proposed that this would be preferred to having both a v3 and a v4 variant of this same doc entry:

https://rockstor.com/docs/howtos/kvm_setup.h

[2021-12-28 15:51] phillxnet commented on #352
I am currently working on this issue.

[2022-01-13 12:05] phillxnet opened #355 "Md raid not supported under btrfs"
Thanks to forum member g6094199 for highlighting this shortfall in our Minimum System Requirements recomendations re raid under btrfs.

We have:

This should likely also include md raid which is an alternative software raid that pre-dates btrfs and is likewise not recommended and will similarly weaken data integrity.

Suggested fix:

We should also indicate that md/dm software raid is not supporte

[2022-01-13 12:44] g6094199 commented on #355
plz keep in mind that MD raid is still the preferred raid solution in OMV and not supporting MD would hold people back from migrating from OMV to Rockstor.

[2022-01-13 16:36] phillxnet commented on #355
@g6094199 There is always the option to migrate data to our preferred raid arrangement.
Supporting mdraid would be counter to our prime directive of data integrity as that is not a guarantee of mdraid, but it is one for btrfs. Hence this issue extending our hardware raid advice to mdraid. It is akin to hardware raid or the half-way of dm raid in that it does not know which copy of a 'thing' is the

[2022-01-13 16:56] phillxnet opened #356 "Recent broken doc link to a git hub project."
From a recent build of the docs the following link is broken:
https://pliablepixels.github.io/
[code]

[2022-01-13 17:00] #352 closed

[2022-01-20 14:27] phillxnet opened #357 "From 4.1.0-0 stable release, the new testing branch is default for contributions."
Our current developer on-boarding docs mention only the master branch. As from our recent 4.1.0-0 stable git tag rpm release we are now to develop our testing channel rpms from a newly established testing branch within git. The master branch is now reserved for our stable releases and so our docs should reflect this new split.

The new split to branch based development is to enable the massive cod

[2022-02-01 22:56] eric-marcus-mbu opened #358 "Functions to configure commonly-used settings - Set Static IP, Configure Proxy, Open-VM-Tools"
- It would be very convenient to have the ability to set a static ip address as part of the installation. Installs are often started without a connection to a dhcp network.
- It would be very useful to have the ability to set and enable a proxy for internet access when on a private ip network.  Otherwise, installation of updates, Rock-Ons, etc is not possible. I envision this as a button on the Se

[2022-02-02 11:19] phillxnet commented on #358
@eric-marcus-mbu Thanks for creating this doc issue; all good points well worth adding.

There may be spin off rockstor-core issues here also but initially all these can be addressed here in docs initially irrespective of future Web-UI options.

We can't do static ip setup via kiwi-ng, the system that makes our installer (https://github.com/rockstor/rockstor-installer) and I'm super keen to keep t

[2022-02-03 18:11] phillxnet opened #359 "Add small section on config backup file structure"
Thanks to forum member mattyvau for inspiring this issue. It would be good to have a short doc section of our back-up config file format. Along with the neccessary formatting element that ensure it's compatibility. This way folks can be more informed if they choose too, or have a need to hand edit these files. It would also be good to have some basic guidance on how it can be made human readable.

[2022-02-26 11:52] phillxnet opened #360 "Replace Rawrite32 suggestion re windows GUI USB installer image writer"
Thanks to forum member ajk for highlighting this issue. Our current Rawrite32 recommendation for GUI based installer image writing in windows is Rawrite32:

https://rockstor.com/docs/installation/quickstart.html#gui-options
"On a Windows Desktop consider using Rawrite32."

This was based, and tested, on our now legacy CentOS based installer and is dis-functional for our current v4 "Built on openSU

[2022-03-06 14:54] phillxnet opened #361 "Correct "IPv6 currently disabled at boot" in Features"
Prior to our first v4 "Built on openSUSE" stable release, we removed the system wide IPv6 disabled (via kernel boot option) status.
This disablement was only in effect during development; i.e. during a phase within our last testing channel run. It is still the case that we offer no Web-UI component for IPv6 but we do not disable it system wide any-longer.

We need to correct this statement in our

[2022-03-09 16:39] phillxnet opened #362 "Minimum system requirements - correct minimum disk size"
In our "Minimum system requirements" section we have the following:

Post the resolution of:
"Increase minimum recognised disk size to 5GB and define at run-time": https://github.com/rockstor/rockstor-core/issues/2308

The minimum drive size before Rockstor will ignore the device completely will be 5 GiB.

We also need to more accurately reflect the current recommendation of non mixed mode (--mixe

[2022-03-10 16:22] phillxnet commented on #216
We have had a resent question from forum member straighttalk86 in this area on the forum.

Linking for context:
https://forum.rockstor.com/t/rtcwake-for-sleep-in-the-night/8317

![scheduled-suspend-shutdown](https://user-images.githubusercontent.com/2521585/157707687-5a127baf-6698-4968-98fb-b38b0f6f560e.png)

[2022-03-26 20:36] phillxnet opened #363 "Remove hard-coded price and currency for the Stable subscription"
It is proposed that we refer folks to the shop for current Stable channel subscription cost as this will remove duplication of info and help to avoid currency and cost descrepencies such as are likely to arise soon otherwise given the ongoing website issue: https://github.com/rockstor/rockstor-website/issues/36. This should also reduce the maintenance burden of such changes.

[2022-03-28 12:00] phillxnet opened #365 "Fix and update links re open source zoneminder app zmNinja"
The referenced desktop and mobile apps for zoneminder post 1.30 referenced in our docs has had a maintainer change and this has lead to a broken link as the prior maintainer, who was no longer able to sustain support time requirements, has passed their code over to the  upstream zoneminder team.

Creating separate issue here as this needs more than just a URL fix or two.

See the new GitHub repo i

[2022-03-29 14:19] MikeMcPherson opened #366 "Update MinIO documentation to reflect new installation procedure from rockon-registry #302"

[2022-04-02 18:01] #363 closed

[2022-04-02 21:00] MikeMcPherson commented on #366
Whoops, I made a mistake in the documentation.  It's now fixed.

[2022-04-03 10:52] phillxnet commented on #366
@MikeMcPherson Cheers. My apologies for not noticing earlier. I've yet to look at the Rock-on itself so hopefully this will all fall into place as intended.

[2022-04-06 17:57] #366 closed

[2022-04-06 20:28] #365 closed

[2022-04-12 18:42] phillxnet opened #369 "Add subsection to developers doc entry for running automated testing"
Thanks to @Hooverdan96 for helping to highlighting this issue. We are missing a section in our developers doc section on how to run our automated test suite. Essentially:
[code]
It is proposed that we add this, along with some explanation, to the following doc section:
https://rockstor.com/docs/contribute/contribute.html#change-test-cycle

[2022-04-12 21:15] Hooverdan96 commented on #365
This pull request fixed #356 not 365, correct?

[2022-04-13 10:54] phillxnet commented on #365
@Hooverdan96 Thanks Re:

This is the issue #365 that is closed by the pr #368. However you are right that this issue is a duplicate of an earlier #356.
So pr #365 fixes both in fact.
I'll make the notes accordingly.
Cheers.

Duplicate of #356

[2022-04-13 10:59] phillxnet commented on #356
Thanks to @Hooverdan96 for the tidy up here:
Closing as:

Fixed by #368

[2022-04-13 10:59] #356 closed

[2022-04-13 11:17] phillxnet opened #371 "Broken link to GitHub within contribute_documentation.rst"
We have a recent broken link shown up by our link checker, thank to @FroggyFlox for that work and it's subsequent GitHub actions integration.
[code]

[2022-04-13 11:45] phillxnet opened #372 "HowTo on migrating from V3 (CentOS based) to V4 "Build on openSUSE""
Thanks to MK from Uruguay for helping to highlight this issue. We have not central V3 to V4 doc reference. Almost all of the info for this transition is available but spread across the docs and within the forum.

It is proposed that a short and concise HowTo be added to summarise and link to the relevant other docs sections to aid those moving from v3 (CentOS based) to our v4 "Built on openSUSE".

[2022-04-13 11:51] #360 closed

[2022-04-13 12:05] FroggyFlox commented on #371
@phillxnet ... I noticed a second link to the GitHub docs was failing in the same way (connection refused, I believe), but works when copied and tested manually in a browser... Maybe it's specific to being run inside the GitHub action worker?

[2022-04-13 12:13] phillxnet commented on #371
@FroggyFlox Cheers. That is a concern. But I see this failure from my own running of the link test locally. But it still stands that they may be looking at browser signatures or the like. And failing this type of check.

We may have to remove those links in which case. I've updated the issue text accordingly.

[2022-04-13 12:29] FroggyFlox commented on #371
Interesting that you see it from a local run too... They may be checking curl requests of that sort, then.

[2022-04-13 21:23] #372 closed

[2022-04-25 19:46] phillxnet opened #374 "Write end user Web-UI embeded system shell doc"
Our current doc entry for the build-in shellinabox currently reads: "Coming soon…". Not exactly that helpful.

It is proposed that we have a short run down on what this is and how to configure it. I.e. we have the two major personalities for this where the shell either runs as a normal user or, in non default mode, as the root user. We could include a note for folks to "su" to the "root" user so t

[2022-05-04 12:10] phillxnet opened #375 "Add SMART monitor config options to howto"
Thanks to forum member dcbailey for highlighting this issue: New in v4 is the default to not monitor all devices. We already have a tooltip/mouse-over popup in the configuration area of the SMART service entry but it would be good to add a new section to our existing SMART howto to show how to enable common options such as:

I.e.:
![monitor-all-devices](https://user-images.githubusercontent.com/25

[2022-05-04 14:53] Hooverdan96 commented on #375
@phillxnet, so if I understood this correctly from the forum thread:
- in general, there is no need to add a directive
- however, there are some instances/hardware configurations where the out-of-the-box smartd service is not recognizing/monitoring the devices correctly.
- To address these exceptions, a directive can be added to the smart Daemon, i.e. DEVICESCAN -a to ensure that all possible erro

[2022-05-05 12:52] phillxnet commented on #375
@Hooverdan96 Thanks for the interest here.
Re:

Actually if one wants automated monitoring the addition of say "DEVICESCAN -a" is now a requirement. It seems our new upstream default settings no longer contains this.

This is likely still the case, as it has been in the past, but for each problematic device we already have custom smart options to cover this; applied to the specific device. Or we c

[2022-05-12 11:22] phillxnet opened #376 "add note to check ownership of shares post import"
Thanks to forum member parth for highlighting this issue. Imported pools can end up with root:root ownership on previously edited user/group shares (subvols). It is propose we add a note to this end to inform users to expect and check for this outcome.

Relates to the following major doc section:
https://rockstor.com/docs/interface/storage/disks.html#import-btrfs-pool

Form thread reference:
https